
rem { Test }

const ONE = 1;
const STR = "*";
const ELE = ${ ( * ) };

global g;
array a;

struct struc {
	a,b,c,d,e;
};

struct exten( struc ) {
	f,g;
};

include "hello.tt";

function assert( value, elem ) {
	if !( value ) {
		throw $str( "Assertion failed on line " $line( elem ) );
	}
}

function except( elem ) {
	throw $tup( elem, $line( elem ) );
}

function setg( x ) {
	let g = x;
	return g;
}

function testvoid() {
}

function testvars( x ) {
	var y;
	let y = x;
	call assert( =( y x ), ${-} );
	call setg( y );
	call assert( =( g x ), ${-} );
	call assert( =( TRUE 1 ), ${-} );
	call assert( =( FALSE 0 ), ${-} );
	return g;
}

function testarray() {
	var b, c, err;
	call setg( 0 );
	try { dim [ except( ${ 1 } ) setg( 2 ) ]; } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { dim [ a except( ${-} ) ]; } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { dim [ 0 0 ]; } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { dim [ a -1 ]; } catch err {}
	call assert( err, ${-} );
	dim [ a 3 ];
	set [ a 0 ] = "a";
	set [ a 1 ] = 1;
	set [ a 2 ] = [ a 0 ];
	dim [ a 2 ];
	try {
		set [ a 2 ] = 2;
		throw 0;
	} catch err {
	}
	call assert( =( err 2 ), ${-} );
	dim [ a 1 ];
	call assert( =( $cmp( [ a 0 ] "a" ) 0 ), ${-} );
	let a = $array( ${ 0, $str( "\"one" "\"" ), $tup( "\\two\\"2 ), "\063", ${ four(4) }, 84, 84 } );
	let a = $array( $parse( $astr( a ) ) );
	call assert( =( $len( a ) 7 ), ${-} );
	call assert( =( [ a 0 ] 0 ), ${-} );
	call assert( =( $cmp( [ a 1 ] "\"one\"" ) 0 ), ${-} );
	call assert( =( $cmp( [ a 2 ] "\\two\\" ) 0 ), ${-} );
	call assert( =( [ a 2 ] 2 ), ${-} );
	call assert( =( $cmp( [ a 3 ] "3" ) 0 ), ${-} );
	call assert( =( $cmp( [ a 4 ] "four" ) 0 ), ${-} );
	call assert( =( $cmp( $child( $next( [ a 4 ] ) ) "4" ) 0 ), ${-} );
	call assert( =( $cmp( $sub( a, 5, 2 ) "TT" ) 0 ), ${-} );
	call assert( =( $cmp( a "#Array#" ) 0 ), ${-} );
	let err = 0;
	try { let b = $array( -1 ); } catch err {}
	call assert( err, ${-} );
	let b = $array( 2 );
	let c = $array( ${ "a" 1 } );
	call assert( =( $cmp( [ c 0 ] "a" ) 0 ), ${-} );
	call assert( =( [ c 1 ] 1 ), ${-} );
	set [ b 0 ] = b;
	set [ b 1 ] = c;
	set [ c 0 ] = c;
	set [ c 1 ] = b;
}

function fact( x ) {
	if >( x 1 ) {
		return *( x fact( -( x 1 ) ) );
	} else {
		return 1;
	}
}

function testswitch() {
	var x, err;
	try { switch except( ${-} ) {} } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { switch 0 { case except( ${-} ) { let err = 0; } } } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { switch 0 { case 0 { call except( ${-} ); } } } catch err {}
	call assert( err, ${-} );
	switch $tup( "a" 1 ) {
		case 1   { let x = 0; }
		case "a" { let x = 0; }
		case $tup( "a" 1 ) { inc x; }
	}
	switch "a" {
		case "a" { inc x; }
	}
	switch 1 {
		case 1 { inc x; }
		default { let x = 0; }
	}
	switch 2 {
		default { inc x; }
	}
	call assert( =( x 4 ), ${-} );
}

function testif() {
	var x, err;
	try { if except( ${-} ) { let err = 0; } } catch err {}
	call assert( err, ${-} );
	if FALSE { call assert( 0, ${-} ); }
	if TRUE { let x = 2; }
	call assert( =( x 2 ), ${-} );
	if "" { let x = 3; }
	call assert( =( x 3 ), ${-} );
}

function testwhile() {
	var err, n;
	try { while except( ${-} ) { let err = 0; } } catch err {}
	call assert( err, ${-} );
	while <( n 1 ) { inc n; }
	call assert( =( n 1 ), ${-} );
	while <( n 10 ) {
		break;
		call assert( FALSE, ${-} );
	}
	while <( n 10 ) {
		if =( n 5 ) { break; }
		inc n;
		continue;
		call assert( FALSE, ${-} );
	}
	call assert( =( n 5 ), ${-} );
	while TRUE {
		try { break; } catch err {}
		call assert( FALSE, ${-} );
	}
	while TRUE {
		try { throw 0; } catch err { break; }
		call assert( FALSE, ${-} );
	}
	while TRUE {
		return 0;
		call assert( FALSE, ${-} );
	}
}

function testtry() {
	var e;
	try {} catch e { call assert( FALSE, ${-} ); }
	try {
		try {
			throw 1;
		} catch e {
			call assert( =( e 1 ), ${-} );
			throw 2;
		}
	} catch e {
	}
	call assert( =( e 2 ), ${-} );
	try { try { return 0; } catch e {} } catch e {}
	call assert( FALSE, ${-} );
}

function testinfix() {
	call assert( '( ONE=1 ), ${-} );
}

function testarith() {
	var err;
	call setg( 0 );
	try { call +( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call +( 0 except( ${-} ) ); } catch err {}
	call assert( err, ${-} );
	call assert( =( +( +( 1 1 ) +( 1 1 ) ) 4 ), ${-} );
	call assert( =( +( 1 1 ) 2 ), ${-} );
	call assert( =( -( 1 1 ) 0 ), ${-} );
	call assert( =( *( 2 2 ) 4 ), ${-} );
	call assert( =( /( 6 2 ) 3 ), ${-} );
	let err = 0;
	try { call /( 1 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( %( 6 4 ) 2 ), ${-} );
	let err = 0;
	try { call %( 1 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( >>( -8 1 ) -4 ), ${-} );
	call assert( =( 1 1 ), ${-} );
	call assert( =( =( 1 0 ) 0 ), ${-} );
	call assert( <( 0 1 ), ${-} );
	call assert( =( <( 1 1 ) 0 ), ${-} );
	call assert( <e( 0 1 ), ${-} );
	call assert( <e( 1 1 ), ${-} );
	call assert( =( <e( 1 0 ) 0 ), ${-} );
	call assert( >( 1 0 ), ${-} );
	call assert( =( >( 1 1 ) 0 ), ${-} );
	call assert( >e( 1 0 ), ${-} );
	call assert( >e( 1 1 ), ${-} );
	call assert( =( >e( 0 1 ) 0 ), ${-} );
	call assert( =( &( 1 2 ) 0 ), ${-} );
	call assert( =( &( 2 2 ) 2 ), ${-} );
	call assert( =( |( 1 2 ) 3 ), ${-} );
	call assert( =( ^( 1 0 ) 1 ), ${-} );
	call assert( =( ^( 1 1 ) 0 ), ${-} );
	call assert( ~( 0 ), ${-} );
}

function testlogic() {
	var err;
	try { call !( except( ${-} ) ); } catch err {}
	call assert( err, ${-} );
	call assert( =( !( 0 ) 1 ), ${-} );
	call assert( =( !( 1 ) 0 ), ${-} );
	call assert( =( !( "" ) 0 ), ${-} );
	let err = 0;
	call setg( 0 );
	try { call &&( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call &&( 1 except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( err "2" ) 0 ), ${-} );
	call assert( =( &&( 0 0 ) 0 ), ${-} );
	call assert( =( &&( 0 1 ) 0 ), ${-} );
	call assert( =( &&( 1 0 ) 0 ), ${-} );
	call assert( =( &&( 1 1 ) 1 ), ${-} );
	call assert( =( &&( 1 "a" ) 1 ), ${-} );
	call assert( =( &&( "a" 1 ) 1 ), ${-} );
	call assert( =( &&( 0 except( ${-} ) ) 0 ), ${-} );
	let err = 0;
	call setg( 0 );
	try { call ||( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call ||( 0 except( ${-} ) ); } catch err {}
	call assert( err, ${-} );
	call assert( =( ||( 0 0 ) 0 ), ${-} );
	call assert( =( ||( 0 1 ) 1 ), ${-} );
	call assert( =( ||( 1 0 ) 1 ), ${-} );
	call assert( =( ||( 1 1 ) 1 ), ${-} );
	call assert( =( ||( 0 "a" ) 1 ), ${-} );
	call assert( =( ||( "a" 0 ) 1 ), ${-} );
	call assert( =( ||( 1 except( ${-} ) ) 1 ), ${-} );
}

function testcmp() {
	var err;
	call setg( 0 );
	try { call $cmp( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $cmp( "" except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( err "2" ) 0 ), ${-} );
	let err = 0;
	try { call $cmp( 0 "" ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $chr( "" 0 ); } catch err {}
	call assert( =( $cmp( "" "" ) 0 ), ${-} );
	call assert( =( $cmp( "0" "0" ) 0 ), ${-} );
	call assert( =( $cmp( STR "*" ) 0 ), ${-} );
	call assert( >( $cmp( "1" "0" ) 0 ), ${-} );
	call assert( <( $cmp( "0" "1" ) 0 ), ${-} );
	call assert( >( $cmp( "aa" "a" ) 0 ), ${-} );
	call assert( <( $cmp( "a" "aa" ) 0 ), ${-} );
	call assert( <( $cmp( "b" "ba" ) 0 ), ${-} );
}

function testcat() {
	var err;
	call setg( "" );
	try { call $cat( except( ${ 1 } ) setg( "2" ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( $cmp( g "" ) 0 ), ${-} );
	let err = 0;
	try { call $cat( setg( "1" ) except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( err "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 ) "0" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 1 ) "01" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( "" 0 ) "0" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 "" ) "0" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 "1" "2" ) "012" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( a ) a ) 0 ), ${-} );
}

function testchr() {
	var err;
	call setg( 0 );
	try { call $chr( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $chr( setg( "1" ) except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( err "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	let err = 0;
	try { call $chr( 0 0 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $chr( "" 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $chr( "~" 0 ) 126 ), ${-} );
}

function testsub() {
	var err;
	call setg( 0 );
	try { call $sub( except( ${ 1 } ) setg( 2 ) setg( 3 ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $sub( setg( "1" ) except( ${ 2 } ) setg( 3 ) ); } catch err {}
	call assert( =( $cmp( err "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	let err = 0;
	try { call $sub( setg( "1" ) setg( 2 ) except( ${ 3 } ) ); } catch err {}
	call assert( =( $cmp( err "3" ) 0 ), ${-} );
	call assert( =( g 2 ), ${-} );
	let err = 0;
	try { call $sub( 0 0 0 ); } catch err {}
	call assert( err, ${-} );
	dim [ a 1 ];
	let err = 0;
	try { call $sub( a 1 1 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $sub( "a" 1 1 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $sub( "a" -1 1 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $sub( "a" 0 -1 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $sub( "abc" 1 1 ) "b" ) 0 ), ${-} );
	let a = $array( ${ 65, 66, 67 } );
	call assert( =( $cmp( $sub( a 0 3 ) "ABC" ) 0 ), ${-} );
}

function testasc() {
	var err;
	try { call $asc( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( $cmp( $asc( 126 ) "~" ) 0 ), ${-} );
}

function testhex() {
	var err;
	try { call $hex( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( $cmp( $hex(  0x00000000 ) " 0x00000000" ) 0 ), ${-} );
	call assert( =( $cmp( $hex( -0x00000001 ) "-0x00000001" ) 0 ), ${-} );
	call assert( =( $cmp( $hex( -0x80000000 ) "-0x80000000" ) 0 ), ${-} );
}

function testint() {
	var err;
	try { call $int( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $int( "a" ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $int( err ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $int( "1" ) 1 ), ${-} );
	call assert( =( $int( "0xA" ) 10 ), ${-} );
	call assert( =( $int( "010" ) 8 ), ${-} );
}

function testlen() {
	var err;
	try { call $len( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $len( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $len( "" ) 0 ), ${-} );
	call assert( =( $len( "a" ) 1 ), ${-} );
	dim [ a 1 ];
	call assert( =( $len( a ) 1 ), ${-} );
}

function testtup() {
	var tup, err;
	call setg( 0 );
	try { call $tup( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $tup( setg( "1" ) except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( err "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	let tup = $tup( $cat( "a" "b" ), +( 1 2 ) );
	call assert( =( tup 3 ), ${-} );
	call assert( =( $cmp( tup, "ab" ) 0 ), ${-} );
}

function testload() {
	var str, err;
	try { call $load( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $load( 0 ); } catch err {}
	call assert( err, ${-} );
	let str = $load( "test.tt" );
	call assert( =( $len( str ) $flen( "test.tt" ) ), ${-} );
	call assert( >( $chr( str 0 ) 0 ), ${-} );
}

function testflen() {
	var err;
	try { call $load( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $load( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $len( $load( "test.tt" ) ) $flen( "test.tt" ) ), ${-} );
}

function testargc() {
	call assert( >( $argc 0 ), ${-} );
}

function testargv() {
	var err;
	try { call $argv( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $argv( -1 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $argv( 0 ) "test.tt" ) 0 ), ${-} );
}

function testtime() {
	call assert( =( $len( $time ) 25 ), ${-} );
}

function testparse() {
	var elem, err;
	try { call $parse( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $parse( 0 ); } catch err {}
	call assert( err, ${-} );
	let elem = $parse( $load( "test.tt" ) );
	call assert( =( $cmp( elem "rem" ) 0 ), ${-} );
	call assert( =( $cmp( $child( $next( elem ) ) "Test" ) 0 ), ${-} );
}

function testchild() {
	var err;
	try { call $child( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $child( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $child( ${ ( a ) } ), "a" ) 0 ), ${-} );
	call assert( =( $cmp( $child( ELE ), "*" ) 0 ), ${-} );
}

function testnext() {
	var err;
	try { call $next( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $next( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $next( ${ 0 a } ), "a" ) 0 ), ${-} );
}

function testline() {
	var x, y, err;
	try { call $line( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $line( a ); } catch err {}
	call assert( err, ${-} );
	let x = $line( ${-} );
	let y = $line( ${-} );
	call assert( =( -( y x ) 1 ), ${-} );
}

function testquote() {
	var s, err;
	try { call $quote( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $quote( 0 ); } catch err {}
	call assert( err, ${-} );
	let s = $quote( $str( "\"\\" $asc( 127 ) ) );
	call assert( =( $cmp( s, "\"\\\"\\\\\\177\"" ) 0 ), ${-} );
}

function testunquote() {
	var s, err;
	try { call $unquote( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	let err = 0;
	try { call $unquote( 0 ); } catch err {}
	call assert( err, ${-} );
	let s = $unquote( "\"\\\\\\176\"" );
	call assert( =( $cmp( s, "\\~" ) 0 ), ${-} );
}

function testpack() {
	var err;
	try { call $pack( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( err "1" ) 0 ), ${-} );
	call assert( =( $cmp( $pack( 0 ), "\0\0\0\0" ) 0 ), ${-} );
	call assert( =( $cmp( $pack( 1 ), "\0\0\0\1" ) 0 ), ${-} );
	call assert( =( $cmp( $pack( 0x01020304 ), "\1\2\3\4" ) 0 ), ${-} );
	let a = $array( ${ 0, 0x1020304 } );
	call assert( =( $cmp( $pack( a ), "\0\0\0\0\1\2\3\4" ) 0 ), ${-} );
}

function teststruct() {
	call assert( =( struc 5 ), ${-} );
	call assert( =( exten 7 ), ${-} );
	call assert( =( struc.a 0 ), ${-} );
	call assert( =( struc.e 4 ), ${-} );
	call assert( =( exten.g 6 ), ${-} );
	call assert( =( $len( $new( exten ) ) 7 ), ${-} );
}

function testfuncref() {
	var err;
	call assert( =( $cmp( @testfuncref "testfuncref" ) 0 ), ${-} );
	try { call :( $tup( "a" 1 ) ); } catch err {}
	call assert( =( err 1 ), ${-} );
	try { call :( @setg 1 2 ); } catch err {}
	call assert( =( err 2 ), ${-} );
	call setg( 0 );
	call :( @setg 1 );
	call assert( =( g 1 ), ${-} );
}

program test {
	call hello();
	call assert( =( testvoid() 0 ), ${-} );
	call assert( =( testvars( ONE ) ONE ), ${-} );
	call testarray();
	call assert( =( fact( 3 ) 6 ), ${-} );
	call testswitch();
	call testif();
	call testwhile();
	call testtry();
	call testinfix();
	call testarith();
	call testlogic();
	call testcmp();
	call testcat();
	call testchr();
	call testsub();
	call testasc();
	call testhex();
	call testint();
	call testlen();
	call testtup();
	call testload();
	call testflen();
	call testargc();
	call testargv();
	call testtime();
	call testparse();
	call testchild();
	call testnext();
	call testline();
	call testquote();
	call testunquote();
	call testpack();
	call teststruct();
	call testfuncref();
	print "Tests passed.";
}
