
rem { Test }

const ONE = $len( $array( 1 ) );
const TWO = +( ONE 1 );
const STR = "*";
const CAT = $str( "*" "*" );
const ELE = ${ ( * ) };

global g, g1 = 1, g2 = +( g1 1 );
array a, a1 = $array( 1 ), [ a2 g2 ] [ a3 ${ 1, 2, 3 } ];

struct struc {
	a,b,c,d,e;
};

struct exten( struc ) {
	f,g;
};

include "hello.tt";

function assert( value, elem ) {
	if !( value ) {
		throw $str( "Assertion failed on line " $line( elem ) );
	}
}

function assert_equals( expected, value, elem ) {
	if $cmp( expected value ) {
		throw $str( "Assertion failed on line " $line( elem )
			". Expected '" expected "', actual '" value "'." );
	}
}

function assert_throws( func, expected, elem ) {
	var err;
	try {
		call :( func );
	} catch err {
		if <e( $len( expected ) $len( err ) ) {
			let err = $sub( err 0 $len( expected ) );
		}
	}
	call assert_equals( expected, err, elem );
}

function except( elem ) {
	throw $tup( elem, $line( elem ) );
}

function setg( x ) {
	let g = x;
	return g;
}

function testvoid() {
}

function testvars( x ) {
	var y = x, z = +( y 1 );
	call assert_equals( x, y, ${-} );
	call assert_equals( +( x 1 ), z, ${-} );
	call assert_equals( 0, g, ${-} );
	call assert_equals( 1, g1, ${-} );
	call assert_equals( 2, g2, ${-} );
	call setg( y );
	call assert_equals( x, g, ${-} );
	call assert_equals( 1, TRUE, ${-} );
	call assert_equals( 0, FALSE, ${-} );
	return g;
}

function testarray() {
	var b, c, err, [ arr *( TWO TWO ) ];
	call setg( 0 );	
	call assert_throws( $function( ${ () { dim [ except( ${ 1 } ) setg( 2 ) ]; } } ), "1", ${-} );
	call assert_equals( 0, g, ${-} );
	call assert_throws( $function( ${ () { dim [ a except( ${ 1 } ) ]; } } ), "1", ${-} );
	call assert_throws( $function( ${ () { dim[ 0 0 ]; } } ), "Not an array.", ${-} );
	call assert_throws( $function( ${ () { dim[ a -1 ]; } } ), "Negative array size.", ${-} );
	call assert_equals( 0, $len( a ), ${-} );
	call assert_equals( 1, $len( a1 ), ${-} );
	call assert_equals( 2, $len( a2 ), ${-} );
	call assert_equals( 3, $len( a3 ), ${-} );
	call assert_equals( 4, $len( arr ), ${-} );
	dim [ a 3 ];
	set [ a 0 ] = "a";
	set [ a 1 ] = 1;
	set [ a 2 ] = [ a 0 ];
	dim [ a 2 ];
	call assert_throws( $function( ${ () { set [ a 2 ] = except( ${ 0 } ); } } ), "Array index", ${-} );
	dim [ a 1 ];
	call assert_equals( "a", [ a 0 ], ${-} );
	let a = $array( ${ 0, $str( "\"one" "\"" ), $tup( "\\two\\"2 ), "\063", ${ four(4) }, 84, 84 } );
	let a = $array( $parse( $unparse( $values( a ) ) ) );
	call assert_equals( 7, $len( a ), ${-} );
	call assert_equals( 0, [ a 0 ], ${-} );
	call assert_equals( "\"one\"", [ a 1 ], ${-} );
	call assert_equals( "\\two\\", $str( [ a 2 ] ), ${-} );
	call assert_equals( 2, $tup( 0, [ a 2 ] ), ${-} );
	call assert_equals( "3", [ a 3 ], ${-} );
	call assert_equals( "four", [ a 4 ], ${-} );
	call assert_equals( "4", $child( $next( [ a 4 ] ) ), ${-} );
	call assert_equals( "TT", $sub( a, 5, 2 ), ${-} );
	call assert_equals( "#Array#", a, ${-} );
	call assert_equals( 1, $len( $array( 1 ) ), ${-} );
	call assert_throws( $function( ${ () { call $array( -1 ); } } ), "Invalid array length.", ${-} );
	let b = $array( 2 );
	let c = $array( ${ "a" 1 } );
	call assert_equals( "a", [ c 0 ], ${-} );
	call assert_equals( 1, [ c 1 ], ${-} );
	set [ b 0 ] = b;
	set [ b 1 ] = c;
	set [ c 0 ] = c;
	set [ c 1 ] = b;
}

function fact( x ) {
	return ?( <e( x 1 ) 1 *( x fact( -( x 1 ) ) ) );
}

function testswitch() {
	var x, err;
	try { switch except( ${-} ) {} } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { switch 0 { case except( ${-} ) { let err = 0; } } } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { switch 0 { case 0 { call except( ${-} ); } } } catch err {}
	call assert( err, ${-} );
	switch $tup( "a" 1 ) {
		case 1   { let x = 0; }
		case "a" { let x = 0; }
		case $tup( "a" 1 ) { inc x; }
	}
	switch "a" {
		case "a" { inc x; }
	}
	switch 1 {
		case 1 { inc x; }
		default { let x = 0; }
	}
	switch 2 {
		default { inc x; }
	}
	switch 3 {
		case 0, setg( 0 ) setg( 3 ) { inc x; }
	}
	call assert( =( g 3 ), ${-} );
	call assert( =( x 5 ), ${-} );
}

function testif() {
	var x, err;
	try { if except( ${-} ) { let err = 0; } } catch err {}
	call assert( err, ${-} );
	if FALSE { call assert( 0, ${-} ); }
	if TRUE { let x = 2; } else { call assert( 0, ${-} ); }
	call assert( =( x 2 ), ${-} );
	if "" { let x = 3; }
	call assert( =( x 3 ), ${-} );
}

function testwhile() {
	var err, n;
	try { while except( ${-} ) { let err = 0; } } catch err {}
	call assert( err, ${-} );
	while <( n 1 ) { inc n; }
	call assert( =( n 1 ), ${-} );
	while <( n 10 ) {
		break;
		call assert( FALSE, ${-} );
	}
	while <( n 10 ) {
		if =( n 5 ) { break; }
		inc n;
		continue;
		call assert( FALSE, ${-} );
	}
	call assert( =( n 5 ), ${-} );
	while TRUE {
		try { break; } catch err {}
		call assert( FALSE, ${-} );
	}
	while TRUE {
		try { throw 0; } catch err { break; }
		call assert( FALSE, ${-} );
	}
	while TRUE {
		return 0;
		call assert( FALSE, ${-} );
	}
	var off, end = 10;
	while <( off end ) {
		var aaa, bbb = 0;
		inc aaa;
		inc bbb;
		inc off;
	}
	call assert( =( off 10 ), ${-} );
	call assert( =( aaa 10 ), ${-} );
	call assert( =( bbb 1 ), ${-} );
}

function testtry() {
	var e;
	try {} catch e { call assert( FALSE, ${-} ); }
	try {
		try {
			throw 1;
		} catch e {
			call assert( =( e 1 ), ${-} );
			throw 2;
		}
	} catch e {
	}
	call assert( =( e 2 ), ${-} );
	try { try { return 0; } catch e {} } catch e {}
	call assert( FALSE, ${-} );
}

function testinfix() {
	call assert( '( ONE=1 ), ${-} );
}

function testarith() {
	var err;
	call setg( 0 );
	try { call +( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call +( 0 except( ${-} ) ); } catch err {}
	call assert( err, ${-} );
	call assert( =( +( +( 1 1 ) +( 1 1 ) ) 4 ), ${-} );
	call assert( =( +( ONE TWO ) 3 ), ${-} );
	call assert( =( -( 1 1 ) 0 ), ${-} );
	call assert( =( *( 2 2 ) 4 ), ${-} );
	call assert( =( /( 6 2 ) 3 ), ${-} );
	let err = 0;
	try { call /( 1 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( %( 6 4 ) 2 ), ${-} );
	let err = 0;
	try { call %( 1 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( <<( 4 1 ) 8 ), ${-} );
	call assert( =( >>( -8 1 ) -4 ), ${-} );
	call assert( =( 1 1 ), ${-} );
	call assert( =( =( 1 0 ) 0 ), ${-} );
	call assert( <( 0 1 ), ${-} );
	call assert( =( <( 1 1 ) 0 ), ${-} );
	call assert( <e( 0 1 ), ${-} );
	call assert( <e( 1 1 ), ${-} );
	call assert( =( <e( 1 0 ) 0 ), ${-} );
	call assert( >( 1 0 ), ${-} );
	call assert( =( >( 1 1 ) 0 ), ${-} );
	call assert( >e( 1 0 ), ${-} );
	call assert( >e( 1 1 ), ${-} );
	call assert( =( >e( 0 1 ) 0 ), ${-} );
	call assert( =( &( 1 2 ) 0 ), ${-} );
	call assert( =( &( 2 2 ) 2 ), ${-} );
	call assert( =( |( 1 2 ) 3 ), ${-} );
	call assert( =( ^( 1 0 ) 1 ), ${-} );
	call assert( =( ^( 1 1 ) 0 ), ${-} );
	call assert( ~( 0 ), ${-} );
}

function testlogic() {
	var err;
	try { call !( except( ${-} ) ); } catch err {}
	call assert( err, ${-} );
	call assert( =( !( 0 ) 1 ), ${-} );
	call assert( =( !( 1 ) 0 ), ${-} );
	call assert( =( !( "" ) 0 ), ${-} );
	let err = 0;
	call setg( 0 );
	try { call &&( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call &&( 1 except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "2" ) 0 ), ${-} );
	call assert( =( &&( 0 0 ) 0 ), ${-} );
	call assert( =( &&( 0 1 ) 0 ), ${-} );
	call assert( =( &&( 1 0 ) 0 ), ${-} );
	call assert( =( &&( 1 1 ) 1 ), ${-} );
	call assert( =( &&( 1 "a" ) 1 ), ${-} );
	call assert( =( &&( "a" 1 ) 1 ), ${-} );
	call assert( =( &&( 0 except( ${-} ) ) 0 ), ${-} );
	let err = 0;
	call setg( 0 );
	try { call ||( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call ||( 0 except( ${-} ) ); } catch err {}
	call assert( err, ${-} );
	call assert( =( ||( 0 0 ) 0 ), ${-} );
	call assert( =( ||( 0 1 ) 1 ), ${-} );
	call assert( =( ||( 1 0 ) 1 ), ${-} );
	call assert( =( ||( 1 1 ) 1 ), ${-} );
	call assert( =( ||( 0 "a" ) 1 ), ${-} );
	call assert( =( ||( "a" 0 ) 1 ), ${-} );
	call assert( =( ||( 1 except( ${-} ) ) 1 ), ${-} );
}

function testternary() {
	call assert_equals( 1, ?( 0, except( ${-} ), 1 ), ${-} );
	call assert_equals( 1, ?( 1, 1, except( ${-} ) ), ${-} );
	call assert_throws( $function( ${ () { call ?( except( ${ 1 } ), 0, 0 ); } } ), "1", ${-} );
	call assert_throws( $function( ${ () { call ?( 0, 0, except( ${ 1 } ) ); } } ), "1", ${-} );
	call assert_throws( $function( ${ () { call ?( 1, except( ${ 1 } ), 0 ); } } ), "1", ${-} );
}

function testcmp() {
	var err;
	call setg( 0 );
	try { call $cmp( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $cmp( "" except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "2" ) 0 ), ${-} );
	call assert( =( $cmp( 0 0 ) 0 ), ${-} );
	call assert( >( $cmp( 1 0 ) 0 ), ${-} );
	call assert( <( $cmp( 0 1 ) 0 ), ${-} );
	call assert( >( $cmp( "a" 0 ) 0 ), ${-} );
	call assert( <( $cmp( 0 "a" ) 0 ), ${-} );
	call assert( =( $cmp( "" "" ) 0 ), ${-} );
	call assert( =( $cmp( "0" "0" ) 0 ), ${-} );
	call assert( =( $cmp( STR "*" ) 0 ), ${-} );
	call assert( =( $cmp( CAT "**" ) 0 ), ${-} );
	call assert( =( $cmp( $tup( "a" 1 ) $tup( "a" 1 ) ) 0 ), ${-} );
	call assert( >( $cmp( 1 0 ) 0 ), ${-} );
	call assert( >( $cmp( "1" "0" ) 0 ), ${-} );
	call assert( <( $cmp( "0" "1" ) 0 ), ${-} );
	call assert( >( $cmp( "aa" "a" ) 0 ), ${-} );
	call assert( <( $cmp( "a" "aa" ) 0 ), ${-} );
	call assert( <( $cmp( "b" "ba" ) 0 ), ${-} );
	call assert( <( $cmp( "ba" "bb" ) 0 ), ${-} );
	call assert( <( $cmp( $tup( "a" 0 ) $tup( "b" 1 ) ) 0 ), ${-} );
	call assert( <( $cmp( $tup( "a" 1 ) $tup( "b" 1 ) ) 0 ), ${-} );
}

function testcat() {
	var err;
	call setg( "" );
	try { call $cat( except( ${ 1 } ) setg( "2" ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( $cmp( g "" ) 0 ), ${-} );
	let err = 0;
	try { call $cat( setg( "1" ) except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 ) "0" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 1 ) "01" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( "" 0 ) "0" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 "" ) "0" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( 0 "1" "2" ) "012" ) 0 ), ${-} );
	call assert( =( $cmp( $cat( a ) a ) 0 ), ${-} );
}

function testchr() {
	var err;
	call setg( 0 );
	try { call $chr( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $chr( setg( "1" ) except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	let err = 0;
	try { call $chr( 0 0 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $chr( "" 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $chr( "~" 0 ) 126 ), ${-} );
	call assert( =( $chr( "\377" 0 ) -1 ), ${-} );
}

function testsub() {
	var err;
	call setg( 0 );
	try { call $sub( except( ${ 1 } ) setg( 2 ) setg( 3 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $sub( setg( "1" ) except( ${ 2 } ) setg( 3 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	let err = 0;
	try { call $sub( setg( "1" ) setg( 2 ) except( ${ 3 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "3" ) 0 ), ${-} );
	call assert( =( g 2 ), ${-} );
	let err = 0;
	try { call $sub( 0 0 0 ); } catch err {}
	call assert( err, ${-} );
	dim [ a 1 ];
	let err = 0;
	try { call $sub( a 1 1 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $sub( "a" 1 1 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $sub( "a" -1 1 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $sub( "a" 0 -1 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $sub( "abc" 1 1 ) "b" ) 0 ), ${-} );
	let a = $array( ${ 65, 66, 67 } );
	call assert( =( $cmp( $sub( a 0 3 ) "ABC" ) 0 ), ${-} );
}

function testasc() {
	var err;
	try { call $asc( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( $cmp( $asc( 126 ) "~" ) 0 ), ${-} );
}

function testhex() {
	var err;
	try { call $hex( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( $cmp( $hex(  0x00000000 ) " 0x00000000" ) 0 ), ${-} );
	call assert( =( $cmp( $hex( -0x00000001 ) "-0x00000001" ) 0 ), ${-} );
	call assert( =( $cmp( $hex( -0x80000000 ) "-0x80000000" ) 0 ), ${-} );
}

function testint() {
	var err;
	try { call $int( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $int( "a" ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $int( err ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $int( "1" ) 1 ), ${-} );
	call assert( =( $int( "0xA" ) 10 ), ${-} );
	call assert( =( $int( "010" ) 8 ), ${-} );
}

function testlen() {
	var err;
	try { call $len( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $len( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $len( "" ) 0 ), ${-} );
	call assert( =( $len( "a" ) 1 ), ${-} );
	dim [ a 1 ];
	call assert( =( $len( a ) 1 ), ${-} );
}

function testtup() {
	var tup, err;
	call setg( 0 );
	try { call $tup( except( ${ 1 } ) setg( 2 ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( g 0 ), ${-} );
	let err = 0;
	try { call $tup( setg( "1" ) except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "2" ) 0 ), ${-} );
	call assert( =( $cmp( g "1" ) 0 ), ${-} );
	let tup = $tup( $cat( "a" "b" ), +( 1 2 ) );
	call assert( =( tup 3 ), ${-} );
	call assert( =( $cmp( tup, $tup( "ab" 3 ) ) 0 ), ${-} );
}

function testload() {
	var str, err;
	try { call $load( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $load( 0 ); } catch err {}
	call assert( err, ${-} );
	let str = $load( $src );
	call assert( =( $len( str ) $flen( $src ) ), ${-} );
	call assert( >( $chr( str 0 ) 0 ), ${-} );
}

function testflen() {
	var err;
	try { call $load( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $load( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $len( $load( $src ) ) $flen( $src ) ), ${-} );
}

function testargc() {
	call assert( >( $argc 0 ), ${-} );
}

function testargv() {
	var err;
	try { call $argv( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $argv( -1 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $argv( 0 ) $src ) 0 ), ${-} );
}

function testtime() {
	call assert( =( $len( $time ) 25 ), ${-} );
}

function testparse() {
	var elem, err;
	try { call $parse( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $parse( 0 ); } catch err {}
	call assert( err, ${-} );
	let elem = $parse( "rem { Test }" );
	call assert( =( $cmp( elem "rem" ) 0 ), ${-} );
	call assert( =( $cmp( $child( $next( elem ) ) "Test" ) 0 ), ${-} );
}

function testunparse() {
	var elem, err;
	try { call $unparse( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $unparse( 0 ); } catch err {}
	call assert( err, ${-} );
	let elem = $parse( $unparse( $parse( "rem { Test }" ) ) );
	call assert( =( $cmp( elem "rem" ) 0 ), ${-} );
	call assert( =( $cmp( $child( $next( elem ) ) "Test" ) 0 ), ${-} );
}

function testchild() {
	var err;
	try { call $child( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $child( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $child( ${ ( a ) } ), "a" ) 0 ), ${-} );
	call assert( =( $cmp( $child( ELE ), "*" ) 0 ), ${-} );
}

function testnext() {
	var err;
	try { call $next( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $next( 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $cmp( $next( ${ 0 a } ), "a" ) 0 ), ${-} );
}

function testline() {
	var x, y, err;
	try { call $line( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $line( a ); } catch err {}
	call assert( err, ${-} );
	let x = $line( ${-} );
	let y = $line( ${-} );
	call assert( =( -( y x ) 1 ), ${-} );
}

function testquote() {
	var s, err;
	try { call $quote( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $quote( 0 ); } catch err {}
	call assert( err, ${-} );
	let s = $quote( $str( "\"\\" $asc( 127 ) ) );
	call assert( =( $cmp( s, "\"\\\"\\\\\\177\"" ) 0 ), ${-} );
}

function testunquote() {
	var s, err;
	try { call $unquote( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $unquote( 0 ); } catch err {}
	call assert( err, ${-} );
	let s = $unquote( "\"\\\\\\176\"" );
	call assert( =( $cmp( s, "\\~" ) 0 ), ${-} );
}

function testpack() {
	var err;
	try { call $pack( except( ${ 1 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	call assert( =( $cmp( $pack( 0 ), "\0\0\0\0" ) 0 ), ${-} );
	call assert( =( $cmp( $pack( 1 ), "\0\0\0\1" ) 0 ), ${-} );
	call assert( =( $cmp( $pack( 0x01020304 ), "\1\2\3\4" ) 0 ), ${-} );
	let a = $array( ${ 0, 0x1020304 } );
	call assert( =( $cmp( $pack( a ), "\0\0\0\0\1\2\3\4" ) 0 ), ${-} );
}

function testunpack() {
	var err;
	try { call $unpack( except( ${ 1 } ) 0 ); } catch err {}
	call assert( =( $cmp( $str( err ) "1" ) 0 ), ${-} );
	let err = 0;
	try { call $unpack( 0 0 ); } catch err {}
	call assert( err, ${-} );
	try { call $unpack( "" except( ${ 2 } ) ); } catch err {}
	call assert( =( $cmp( $str( err ) "2" ) 0 ), ${-} );
	let err = 0;
	try { call $unpack( "\0\0\0\0" -1 ); } catch err {}
	call assert( err, ${-} );
	let err = 0;
	try { call $unpack( "\0\0\0" 0 ); } catch err {}
	call assert( err, ${-} );
	call assert( =( $unpack( "\0\0\0\1" 0 ) 1 ), ${-} );
	call assert( =( $unpack( "\1\2\3\4" 0 ) 0x1020304 ), ${-} );
	call assert( =( $unpack( $pack( -1 ) 0 ) -1 ), ${-} );
	call assert( =( $unpack( $pack( $array( ${ 1 2 } ) ) 1 ) 2 ), ${-} );
}

function teststruct() {
	call assert( =( struc 5 ), ${-} );
	call assert( =( exten 7 ), ${-} );
	call assert( =( struc.a 0 ), ${-} );
	call assert( =( struc.e 4 ), ${-} );
	call assert( =( exten.g 6 ), ${-} );
	call assert( =( $len( $new( exten ) ) 7 ), ${-} );
}

function testfuncref() {
	call assert_equals( "testfuncref", @testfuncref, ${-} );
	call setg( 0 );
	call :( @setg 1 );
	call assert_equals( 1, g, ${-} );
	call assert_throws( $function( ${ () { call :( $tup( "a" 1 ) ); } } ), "Not a function reference.", ${-} );
	call assert_throws( $function( ${ () { call :( @setg 1 2 ); } } ), "Incorrect number of parameters", ${-} );
}

function testeq() {
	call assert_equals( 1, $eq( 0 0 ), ${-} );
	call assert_equals( 1, $eq( "" "" ), ${-} );
	call assert_equals( 1, $eq( "a" "a" ), ${-} );
	call assert_equals( 1, $eq( STR STR ), ${-} );
	call assert_equals( 1, $eq( @testeq @testeq ), ${-} );
	call assert_equals( 0, $eq( 0 1 ), ${-} );
	call assert_equals( 0, $eq( 0 "a" ), ${-} );
	call assert_equals( 0, $eq( "a" 0 ), ${-} );
	call assert_equals( 0, $eq( "a" "aa" ), ${-} );
	call assert_throws( $function( ${ () { call setg( 0 ); call $eq( except( ${ 1 } ) setg( 2 ) ); } } ), "1", ${-} );
	call assert_equals( 0, g, ${-} );
	call assert_throws( $function( ${ () { call $eq( 0, except( ${ 2 } ) ); } } ), "2", ${-} );
}

function testsrc() {
	call assert_equals( "test.tt", $sub( $src, -( $len( $src ) 7 ), 7 ), ${-} );
}

function testchop() {
	call assert_equals( "", $chop( "", "" ), ${-} );
	call assert_equals( "", $chop( "file", "" ), ${-} );
	call assert_equals( "", $chop( "file", "/" ), ${-} );
	call assert_equals( "dir/", $chop( "dir/file", "/" ), ${-} );
	call assert_equals( "c:", $chop( "c:file", "/:" ), ${-} );
	call assert_equals( "dir\\", $chop( "dir\\file", "/:\\" ), ${-} );
	call assert_equals( "c:\\dir\\", $chop( "c:\\dir\\file", "/:\\" ), ${-} );
	call assert_throws( $function( ${ () { call setg( 0 ); call $chop( except( ${ 1 } ), setg( 2 ) ); } } ), "1", ${-} );
	call assert_equals( 0, g, ${-} );
	call assert_throws( $function( ${ () { call $chop( setg( 1 ), except( ${ 2 } ) ); } } ), "2", ${-} );
	call assert_equals( 1, g, ${-} );
	call assert_throws( $function( ${ () { call $chop( 0, "" ); } } ), "Not a string.", ${-} );
	call assert_throws( $function( ${ () { call $chop( "", 0 ); } } ), "Not a string.", ${-} );
}

function testinterrupted() {
	var x;
	let x = STR;
	let x = $interrupted;
	call assert( !( x ), ${-} );
}

function testinc() {
	var int;
	inc int;
	call assert_equals( 1, int, ${-} );
	call assert_throws( $function( ${ () { var int = ""; inc int; } } ), "Not an integer.", ${-} );
}

function testdec() {
	var int;
	dec int;
	call assert_equals( -1, int, ${-} );
	call assert_throws( $function( ${ () { var int = ""; dec int; } } ), "Not an integer.", ${-} );
}

function testelem() {
	call assert_equals( "1", $elem( ${ 1 }, 0, 0 ), ${-} );
	call assert_equals( "2", $child( $elem( ${()}, ${ 2 }, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( ${[]}, ${ 2 }, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( ${{}}, ${ 2 }, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( ${{}}, $elem( ${ 2 }, 0, 0 ), 0 ) ), ${-} );
	call assert_equals( "3", $next( $elem( ${ 1 }, 0, ${ 3 } ) ), ${-} );
	call assert_equals( "3", $next( $elem( ${ 1 }, 0, $elem( ${ 3 }, 0, 0 ) ) ), ${-} );
	call assert_equals( "()", $elem( $parse( "(abc) def" ), 0, 0 ), ${-} );
	call assert_equals( 0, $child( $elem( $parse( "(abc) def" ), 0, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( $parse( "(abc) def" ), ${ 2 }, 0 ) ), ${-} );
	call assert_equals( 0, $next( $elem( $parse( "(abc) def" ), 0, 0 ) ), ${-} );
	call assert_equals( "3", $next( $elem( $parse( "(abc) def" ), ${ 2 }, ${ 3 } ) ), ${-} );
	call assert_equals( "3", $next( $elem( $elem( ${()}, ${ abc }, ${ def } ), ${ 2 }, ${ 3 } ) ), ${-} );
	call assert_throws( $function( ${ () { call $elem( except( ${ 1 } ), 0, 0 ); } } ), "1", ${-} );
	call assert_throws( $function( ${ () { call $elem( 1, 0, 0 ); } } ), "Not an element.", ${-} );
	call assert_throws( $function( ${ () { call $elem( ${-}, except( ${ 2 } ), 0 ); } } ), "2", ${-} );
	call assert_throws( $function( ${ () { call $elem( ${-}, 2, 0 ); } } ), "Not an element.", ${-} );
	call assert_throws( $function( ${ () { call $elem( ${-}, 0, except( ${ 3 } ) ); } } ), "3", ${-} );
	call assert_throws( $function( ${ () { call $elem( ${-}, 0, 3 ); } } ), "Not an element.", ${-} );
	call assert_throws( $function( ${ () { call $elem( ${-}, ${ 2 }, 0 ); } } ), "Parent elements must", ${-} );
}

function testvalues() {
	var arr = $array( $parse( $unparse( $values( $array( ${ 0 1 "2" $tup( "Three" 3 ) ${ [4] } } ) ) ) ) );
	call assert_equals( 0, [ arr 0 ], ${-} );
	call assert_equals( 1, [ arr 1 ], ${-} );
	call assert_equals( "2", [ arr 2 ], ${-} );
	call assert_equals( $tup( "Three" 3 ), [ arr 3 ], ${-} );
	call assert_equals( "4", $child( [ arr 4 ] ), ${-} );
	call assert_throws( $function( ${ () { call $values( except( ${ 1 } ) ); } } ), "1", ${-} );
	call assert_throws( $function( ${ () { call $values( 0 ); } } ), "Not an array or no values.", ${-} );
	call assert_throws( $function( ${ () { call $values( $array( 0 ) ); } } ), "Not an array or no values.", ${-} );
}

function testfunction() {
	call assert_equals( ONE :(
		$function( ${ () { 
			return :( $function( $parse( "( param ) { return param; }" ) ) ONE );
		} } ) ), ${-} );
	call assert_throws( $function( ${ () { call $function( except( ${ 1 } ) ); } } ), "1", ${-} );
	call assert_throws( $function( ${ () { call $function( 0 ); } } ), "Not an element.", ${-} );
	call assert_throws( $function( ${ () { call $function( ${ x } ); } } ), "Expected '(' after '$function'", ${-} );
	call assert_throws( $function( ${ () { call $function( ${ ( 1 ) {} } ); } } ), "Invalid name '1'", ${-} );
	call assert_throws( $function( ${ () { call $function( ${ ( x x ) {} } ); } } ), "Parameter 'x' already", ${-} );
	call assert_throws( $function( ${ () { call $function( ${ () { x } } ); } } ), "Unrecognized keyword 'x'", ${-} );
}

function testworker() {
	var worker = $execute( $worker( ${ () { call $status( "1" ); return 1; } } ) );
	call assert_equals( 1, $result( worker ), ${-} );
	call assert_equals( "1", $status( worker ), ${-} );
	call assert_equals( "1", $result( $execute( $worker( ${ ( a ) { return a; } } ), "1" ) ), ${-} );
	call assert_throws( $function( ${ () { call $result( $execute( $worker( ${ ( a ) { throw a; } } ), "1" ) ); } } ), "1", ${-} );
	call assert_throws( $function( ${ () { call $worker( 0 ); } } ), "Not an element.", ${-} );
	call assert_throws( $function( ${ () { call $worker( ${ x } ); } } ), "Expected '(' after '$worker'", ${-} );
	call assert_throws( $function( ${ () { call $worker( ${ ( 1 ) {} } ); } } ), "Invalid name '1'", ${-} );
	call assert_throws( $function( ${ () { call $worker( ${ ( x x ) {} } ); } } ), "Parameter 'x' already", ${-} );
	call assert_throws( $function( ${ () { call $execute( 0 ); } } ), "Not a worker", ${-} );
	call assert_throws( $function( ${ () { call $execute( $worker( ${ ( a ) {} } ) ); } } ), "Incorrect number", ${-} );
	call assert_throws( $function( ${ () { call $execute( $worker( ${ ( a ) {} } ), ${ x } ); } } ), "Values of this type", ${-} );
	call assert_throws( $function( ${ () { call $result( 0 ); } } ), "Not a worker", ${-} );
	call assert_throws( $function( ${ () { call $result( $execute( $worker( ${ () { exit 0; } } ) ) ); } } ), "Worker exited", ${-} );
	call assert_throws( $function( ${ () { call $result( $execute( $worker( ${ () { return $array( 0 ); } } ) ) ); } } ), "Values of this type", ${-} );
	call assert_throws( $function( ${ () { call $result( $execute( $worker( ${ () { call $worker( 0 ); } } ) ) ); } } ), "Operation", ${-} );
	call assert_throws( $function( ${ () { call $status( 0 ); } } ), "Not a worker", ${-} );
	call assert_throws( $function( ${ () { var err, worker = $execute( $worker( ${ () { exit 0; } } ) );
		try { call $result( worker ); } catch err { call $status( worker ); } } } ), "Worker exited", ${-} );
	call assert_throws( $function( ${ () { var err, worker = $execute( $worker( ${ () { throw "x"; } } ) );
		try { call $result( worker ); } catch err { call $status( worker ); } } } ), "x", ${-} );
}

program test {
	call hello();
	call assert( =( testvoid() 0 ), ${-} );
	call assert( =( testvars( ONE ) ONE ), ${-} );
	call testarray();
	call assert( =( fact( 3 ) 6 ), ${-} );
	call testswitch();
	call testif();
	call testwhile();
	call testtry();
	call testinfix();
	call testarith();
	call testlogic();
	call testternary();
	call testcmp();
	call testcat();
	call testchr();
	call testsub();
	call testasc();
	call testhex();
	call testint();
	call testlen();
	call testtup();
	call testsrc();
	call testload();
	call testflen();
	call testargc();
	call testargv();
	call testtime();
	call testparse();
	call testunparse();
	call testchild();
	call testnext();
	call testline();
	call testelem();
	call testquote();
	call testunquote();
	call testpack();
	call testunpack();
	call teststruct();
	call testfuncref();
	call testeq();
	call testchop();
	call testinterrupted();
	call testinc();
	call testdec();
	call testvalues();
	call testfunction();
	call testworker();
	print "Tests passed.";
}
