
rem { Test }

const NUL;
const ONE = $len( $array( 1 ) );
const TWO = +( ONE 1 );
const TEN = 10;
const STR = "*";
const CAT = $str( "*" "*" );
const ELE = ${ ( * ) };
const TAB = "\0\0\0\1\0";

struct struc {
	a,b,c,d,e;
};

struct exten( struc ) {
	f,g;
};

library lib {
	struct struct( exten ) {
		h;
	}
	global global = :( $function( ${ () { return $len( struct ); } } ) );
	function function() {
		return global;
	}
}

library lib {
	*** ignored ***
}

global g, g1 = 1, g2 = +( g1 1 );
global [ a 3 ], a1 = $array( 1 ), [ a2 g2 ] [ a3 ${ 1, 2, 3 } ], ( exten ) ext = $new( exten );

include "hello.tt";

function assert( value, elem ) {
	if !( value ) {
		throw $str( "Assertion failed on line " $line( elem ) );
	}
}

function assert_equals( expected, value, elem ) {
	if $cmp( expected value ) {
		throw $str( "Assertion failed on line " $line( elem )
			". Expected '" expected "', actual '" value "'." );
	}
}

function assert_throws( expected, elem ) {
	var err;
	try {
		call :( $function( elem ) );
	} catch err {
		let err = $str( err );
		if <e( $len( expected ) $len( err ) ) {
			let err = $sub( err 0 $len( expected ) );
		}
	}
	call assert_equals( expected, err, elem );
}

function except( elem ) {
	throw $tup( elem, $line( elem ) );
}

function struc_geta( ( struc ) this ) {
	return this.a;
}

function exten_getg( ( exten ) this ) {
	return this.g;
}

function setg( x ) {
	let g = x;
	return g;
}

function testvoid() {
}

function fact( x y ) {
	if <( x 1 ) {
		return y;
	}
	return fact( -( x 1 ) *( x y ) );
}

function testprint() {
	call assert_throws( "1", ${ () { print except( ${ 1 } ); } } );
	call assert_throws( "1", ${ () { write except( ${ 1 } ); } } );
	call assert_throws( "1", ${ () { error except( ${ 1 } ); } } );
}

function testvars( x ) {
	var y = x, z = +( y 1 );
	call assert_equals( x, y, ${-} );
	call assert_equals( +( x 1 ), z, ${-} );
	call assert_equals( z, z++, ${-} );
	call assert_equals( +( x 2 ), z, ${-} );
	call assert_equals( z, z--, ${-} );
	call assert_equals( +( x 1 ), z, ${-} );
	call assert_equals( 0, g, ${-} );
	call assert_equals( 1, g1, ${-} );
	call assert_equals( 2, g2, ${-} );
	call assert_equals( 10, TEN, ${-} );
	call setg( y );
	call assert_equals( x, g, ${-} );
	call assert_equals( 1, TRUE, ${-} );
	call assert_equals( 0, FALSE, ${-} );
	call assert_throws( "Name 'var' already d", ${ () { var var; } } );
	call assert_throws( "Undeclared variable 'xxx:", ${ () { let xxx: = 0; } } );
	call assert_throws( "Expected '=' after 'xxx'", ${ () { let xxx; } } );
	call assert_throws( "Invalid local variable expression", ${ (x) { call x+; } } );
	call assert_throws( "Invalid number", ${ () { var x = 1$2; } } );
	call assert_throws( "Not a number", ${ () { var x = "x"; call x++; } } );
	call assert_throws( "Not a number", ${ () { var x = "x"; call x--; } } );
	return g;
}

function testarray() {
	var b, c, err, idx, [ arr *( TWO TWO ) ];
	call setg( 0 );	
	call assert_equals( 0, g, ${-} );
	call assert_equals( 3, $len( a ), ${-} );
	call assert_equals( 1, $len( a1 ), ${-} );
	call assert_equals( 2, $len( a2 ), ${-} );
	call assert_equals( 3, $len( a3 ), ${-} );
	call assert_equals( 4, $len( arr ), ${-} );
	set [ a, idx ] = "a";
	call assert_equals( "a", [ a 0 ], ${-} );
	set [ a 1 ] = 1;
	set [ a 2 ] = [ a idx ];
	set [ a 2 ] = [ a idx++ ];
	call assert_equals( 1, idx, ${-} );
	set [ a idx++ ] = 2;
	call assert_equals( 2, [ a 1 ], ${-} );
	call assert_equals( 2, idx, ${-} );
	call assert_equals( "a", [ $array( 2 0 "a" ) 1 ], ${-} );
	let a = $array( ${ 0, $str( "\"one", "\"" ), $tup( "\\two\\"2 ), "\063", ${ four(4) }, 84, 84, $tup($array(${1}) 1) } );
	call assert_equals( 1, [ [ a 7 ] 0 ], ${-} );
	let a = $expr( a );
	call assert_equals( "$array", a, ${-} );
	let a = $array( $parse( $unparse( $child( $next( a ) ) ) ) );
	call assert_equals( 9, $len( a ), ${-} );
	call assert_equals( 8, [ a 0 ], ${-} );
	call assert_equals( 0, [ a 1 ], ${-} );
	call assert_equals( "\"one\"", [ a 2 ], ${-} );
	call assert_equals( "\\two\\", $str( [ a 3 ] ), ${-} );
	call assert_equals( 2, $tup( 0, [ a 3 ] ), ${-} );
	call assert_equals( "3", [ a 4 ], ${-} );
	call assert_equals( "four", [ a 5 ], ${-} );
	call assert_equals( "4", $child( $next( [ a 5 ] ) ), ${-} );
	call assert_equals( "TT", $sub( a, 6, 2 ), ${-} );
	call assert_equals( "[Array]", a, ${-} );
	call assert_equals( $tup("[Array]"1), [ a 8 ], ${-} );
	call assert_equals( 1, $len( $array( 1 ) ), ${-} );
	let b = $array( 2 );
	let c = $array( ${ "a" 1 } );
	call assert_equals( "a", [ c 0 ], ${-} );
	call assert_equals( 1, [ c 1 ], ${-} );
	set [ b 0 ] = b;
	set [ b 1 ] = c;
	set [ c 0 ] = c;
	set [ c 1 ] = b;
	call assert_throws( "Invalid array length.", ${ () { call $array( -1 ); } } );
	call assert_throws( "Unexpected expression.", ${ () { call $array( ${0} 0 ); } } );
	call assert_throws( "Array index", ${ () { set [ $array( 0 ) -1 ] = except( ${ 0 } ); } } );
	call assert_throws( "Array index", ${ () { set [ $array( 0 ) 0 ] = except( ${ 0 } ); } } );
	call assert_throws( "Array index", ${ () { call [ $array( 0 ) -1 ]; } } );
	call assert_throws( "Array index", ${ () { call [ $array( 0 ) 0 ]; } } );
	call assert_throws( "Array index", ${ () { call $array( 0 0 ); } } );
	call assert_throws( "Not an array", ${ () { call [ 0 0 ]; } } );
	call assert_throws( "Not an array", ${ () { set [ 0 0 ] = 0; } } );
	call assert_throws( "Invalid index expression", ${ () { call []; } } );
	call assert_throws( "Invalid index expression", ${ () { set [] = 0; } } );
	call assert_throws( "Local variable 'x' already", ${ ( x ) { var [ x 0 ]; } } );
	call assert_throws( "Local variable 'x' already", ${ ( x ) { var x = $array( 0 ); } } );
	call assert_throws( "Unexpected", ${ () { var [ x 0 0 ]; } } );
}

function testbuffer() {
	var b = $buffer( ${ 1 } );
	call assert_equals( 1, $len( b ), ${-} );
	call assert_equals( 1, [ b 0 ], ${-} );
	set [ :( $function( ${ () { return b; } } ) ) 0 ] = 2;
	call assert_equals( 2, [ b 0 ], ${-} );
	call assert_throws( "Not a number.", ${ () { call $buffer( 1 "a" ); } });
	call assert_throws( "Not a number", ${ () { set [ $buffer( 1 ) 0 ] = ""; } } );
}

function testswitch() {
	var x;
	switch $tup( "a" 1 ) {
		case 1   { call assert( FALSE, ${-} ); }
		case "a" { call assert( FALSE, ${-} ); }
		case $tup( "a" 1 ) { let x = 1; }
		default { call assert( FALSE, ${-} ); }
	}
	call assert_equals( 1, x, ${-} );
	switch "a" {
		case "a" { let x = 2; }
		default { call assert( FALSE, ${-} ); }
	}
	call assert_equals( 2, x, ${-} );
	switch 1 {
		case 1 { let x = 3; }
		default { call assert( FALSE, ${-} ); }
	}
	call assert_equals( 3, x, ${-} );
	switch 1 {
		default { let x = 4; }
	}
	call assert_equals( 4, x, ${-} );
	switch 3 {
		case 0, setg( 0 ) setg( 4 ) { let x = 5; }
	}
	call assert_equals( 4, x, ${-} );
	call assert_equals( 4, g, ${-} );
	call assert_throws( "1", ${ () { switch except( ${ 1 } ) {} } } );
	call assert_throws( "1", ${ () { switch 0 { case except( ${ 1 } ) { call except( ${ 2 } ); } } } } );
	call assert_throws( "1", ${ () { switch 0 { case 0 { call except( ${ 1 } ); } } } } );
	call assert_throws( "Duplicate", ${ () { switch 0 { default {} default {} } } } );
}

function testif() {
	var x, y, z = 1;
	if FALSE { call assert( FALSE, ${-} ); }
	if TRUE { let x = 1; } else if FALSE { let x = 2; } else { call assert( FALSE, ${-} ); }
	call assert_equals( 1, x, ${-} );
	if "" { let x = 2; }
	call assert_equals( 2, x, ${-} );
	if <( y z ) {} else { call assert( FALSE, ${-} ); }
	if <( y y ) { call assert( FALSE, ${-} ); } else { call 0; }
	if <( y 1 ) {} else { call assert( FALSE, ${-} ); }
	if <( y 0 ) { call assert( FALSE, ${-} ); } else { call 0; }
	if <( y ONE ) {} else { call assert( FALSE, ${-} ); }
	if <( y $len( STR ) ) {} else { call assert( FALSE, ${-} ); }
	if <e( y y ) {} else { call assert( FALSE, ${-} ); }
	if <e( z y ) { call assert( FALSE, ${-} ); }
	if <e( y 1 ) {} else { call assert( FALSE, ${-} ); }
	if <e( z 0 ) { call assert( FALSE, ${-} ); }
	if >( y z ) { call assert( FALSE, ${-} ); }
	if >( z y ) {} else { call assert( FALSE, ${-} ); }
	if >( y 1 ) { call assert( FALSE, ${-} ); }
	if >( z 0 ) {} else { call assert( FALSE, ${-} ); }
	if >e( y z ) { call assert( FALSE, ${-} ); }
	if >e( y y ) {} else { call assert( FALSE, ${-} ); }
	if >e( y 1 ) { call assert( FALSE, ${-} ); }
	if >e( y 0 ) {} else { call assert( FALSE, ${-} ); }
	if =( y z ) { call assert( FALSE, ${-} ); }
	if =( y y ) {} else { call assert( FALSE, ${-} ); }
	if =( y 1 ) { call assert( FALSE, ${-} ); }
	if =( y 0 ) {} else { call assert( FALSE, ${-} ); }
	if <>( y z ) {} else { call assert( FALSE, ${-} ); }
	if <>( y y ) { call assert( FALSE, ${-} ); }
	if <>( y 1 ) {} else { call assert( FALSE, ${-} ); }
	if <>( y 0 ) { call assert( FALSE, ${-} ); }
	call assert_throws( "1", ${ () { if except( ${ 1 } ) { call except( ${ 2 } ); } } } );
	call assert_throws( "Expected '{'", ${ () { if 0 {} else } } );
	call assert_throws( "Not a number", ${ () { var x = ""; if <( x 0 ) {} } } );
	call assert_throws( "Not a number", ${ () { var x, y = ""; if <( x y ) {} } } );
	call assert_throws( "Not a number", ${ () { var x; if <( x STR ) {} } } );
}

function testwhile() {
	var n, y, z = 1;
	while <( n 1 ) { inc n; }
	call assert_equals( 1, n, ${-} );
	while <( n 10 ) {
		break;
		call assert( FALSE, ${-} );
	}
	while <e( n 9 ) {
		if =( n 5 ) { break; }
		inc n;
		continue;
		call assert( FALSE, ${-} );
	}
	call assert_equals( 5, n, ${-} );
	while "" {
		try { break; } catch n { call assert( FALSE, ${-} ); }
		call assert( FALSE, ${-} );
	}
	while TRUE {
		try { throw 0; } catch n { break; }
		call assert( FALSE, ${-} );
	}
	call assert_equals( 1, :( $function( ${ () { while TRUE { return 1; } return 0; } } ) ), ${-} );
	call assert_equals( 1, :( $function( ${ () { while TRUE { break; } return 1; } } ) ), ${-} );
	call assert_throws( STR, ${ () { while TRUE { throw STR; } return 0; } } );
	call assert_equals( 1, :( $function( ${ ( x ) { while =( x x ) { return 1; } return 0; } } ) 1 ), ${-} );
	call assert_equals( 1, :( $function( ${ ( x ) { while =( x x ) { break; } return 1; } } ) 1 ), ${-} );
	call assert_throws( STR, ${ () { var x; while =( x x ) { throw STR; } return 0; } } );
	call assert_equals( 1, :( $function( ${ ( x ) { while =( x 1 ) { return 1; } return 0; } } ) 1 ), ${-} );
	call assert_equals( 1, :( $function( ${ ( x ) { while =( x 1 ) { break; } return 1; } } ) 1 ), ${-} );
	call assert_throws( STR, ${ () { var x; while =( x 0 ) { throw STR; } return 0; } } );
	var off, end = 10;
	while <( off end ) {
		var aaa, bbb = 1;
		inc aaa;
		dec bbb;
		inc off;
	}
	call assert_equals( 10, off, ${-} );
	call assert_equals( 10, aaa, ${-} );
	call assert_equals( 0, bbb, ${-} );
	while <( z y ) { call assert( FALSE, ${-} ); }
	while <( z 0 ) { call assert( FALSE, ${-} ); }
	while <e( z y ) { call assert( FALSE, ${-} ); }
	while <e( z 0 ) { call assert( FALSE, ${-} ); }
	while >( y z ) { call assert( FALSE, ${-} ); }
	while >( y 1 ) { call assert( FALSE, ${-} ); }
	while >e( y z ) { call assert( FALSE, ${-} ); }
	while >e( y 1 ) { call assert( FALSE, ${-} ); }
	while =( y z ) { call assert( FALSE, ${-} ); }
	while =( y 1 ) { call assert( FALSE, ${-} ); }
	while <>( y y ) { call assert( FALSE, ${-} ); }
	while <>( y 0 ) { call assert( FALSE, ${-} ); }
	while <( z NUL ) { call assert( FALSE, ${-} ); }
	while <( z $len( "" ) ) { call assert( FALSE, ${-} ); }
	while y { call assert( FALSE, ${-} ); }
	call assert_throws( "1", ${ () { while except( ${ 1 } ) { call assert( FALSE, ${-} ); } } } );
	call assert_throws( "1", ${ () { while TRUE { call except( ${ 1 } ); } } } );
	call assert_throws( "Unhandled 'break'", ${ () { break; } } );
	call assert_throws( "Not a number", ${ () { var x = ""; while <( x x ) {} } } );
	call assert_throws( "Not a number", ${ () { var x = ""; while <( x 1 ) {} } } );
}

function testuntil() {
	call assert_equals( 1, :( $function( ${ () { var x; until TRUE { inc x; } return x; } } ) ), ${-} );
	call assert_equals( 1, :( $function( ${ () { until TRUE { return 1; } return 0; } } ) ), ${-} );
	call assert_equals( 1, :( $function( ${ () { until TRUE { break; return 0; } return 1; } } ) ), ${-} );
	call assert_equals( 1, :( $function( ${ () { until TRUE { continue; return 0; } return 1; } } ) ), ${-} );
	call assert_throws( "1", ${ () { until TRUE { throw 1; } return 0; } } );
	call assert_throws( "1", ${ () { until except( ${ 1 } ) {} } } );
}

function testtry() {
	var e, ( struc ) s;
	try {} catch e { call assert( FALSE, ${-} ); }
	try {
		call 0;
		throw 1;
		call assert( FALSE, ${-} );
	} catch e {
		call assert_equals( 1, e, ${-} );
		throw $new( struc 2 );
	} catch ( exten ) x {
		call assert( FALSE, ${-} );
	} catch s {
	}
	call assert_equals( 2, s.a, ${-} );
	try {
		let s = 1;
	} finally {
		let e = 2;
	}
	call assert_equals( 1, s, ${-} );
	call assert_equals( 2, e, ${-} );
	call assert_equals( "a", :( $function( ${ ( s ) { try { return s; } finally {} } } ) "a" ) ${-} );
	call assert_equals( "a", :( $function( ${ ( s ) { try {} finally { return s; } } } ) "a" ) ${-} );
	call assert_equals( "a", :( $function( ${ ( s ) { try { return "x"; } finally { return s; } } } ) "a" ) ${-} );
	call assert_throws( "a", ${ () { try { throw "a"; } finally {} } } );
	call assert_throws( "a", ${ () { try {} finally { throw "a"; } } });
	call assert_throws( "a", ${ () { try { return "x"; } finally { throw "a"; } } });
	call assert_throws( "a", ${ () { try { throw "a"; } finally { return "x"; } } });
	call assert_throws( "a", ${ () { try { throw "a"; } finally { throw "x"; } } } );
	call assert_throws( "Undeclared local variable 'a'", ${ () { try {} catch a {} } } );
	call assert_throws( "Expected 'catch'", ${ () { try {} } } );
	try { try { return 0; } catch e {} } catch e {}
	call assert( FALSE, ${-} );
}

function testoper() {
	call assert_throws( "Unhandled expression", ${ () { call $$(); } } );
	call assert_throws( "Expected '(' after '$str'", ${ () { call $str; } } );
	call assert_throws( "Expected '(' after function", ${ () { call hello; } } );
	call assert_throws( "Wrong number of arguments", ${ () { call $str(); } } );
	call assert_throws( "Wrong number of arguments", ${ () { call hello( 1 ); } } );
	call assert_throws( "Unexpected '(' after expression", ${ () { call 1(); } } );
	call assert_throws( "Expected expression after ','", ${ () { call hello( 1, ); } } );
	call assert_throws( "Expected expression after 'print'", ${ () { print; } } );
}

function testinfix() {
	call assert_equals( 3, `( +( ONE 0 ) + ONE ONE ), ${-} );
	call assert_throws( "Invalid", ${ () { call `(); } } );
	call assert_throws( "Unhandled", ${ () { call `( 1 ); } } );
	call assert_throws( "Unhandled", ${ () { call '( 1 ' + 1 ); } } );
	call assert_throws( "Unexpected", ${ () { call `( 1 0 ); } } );
	call assert_throws( "Wrong number of arguments", ${ () { call `( 1 + ); } } );
}

function testarith() {
	var zero, one = 1, two = 2;
	call assert_equals( 4, +( +( 1 1 ) +( 1 1 ) ), ${-} );
	call assert_equals( 5, +( 1 1 2 1 ), ${-} );
	call assert_equals( 3, +( ONE TWO ), ${-} );
	call assert_equals( 3, +( ONE two ), ${-} );
	call assert_equals( 0, -( 1 ONE ), ${-} );
	call assert_equals( 0, -( 1 1 ), ${-} );
	call assert_equals( 0, -( 1 one ), ${-} );
	call assert_equals( 4, *( 2 TWO ), ${-} );
	call assert_equals( 4, *( 2 2 ), ${-} );
	call assert_equals( 4, *( 2 two ), ${-} );
	call assert_equals( 3, _/( 6 TWO ), ${-} );
	call assert_equals( 3, _/( 6 2 ), ${-} );
	call assert_equals( 3, _/( 6 two ), ${-} );
	call assert_equals( 2, %( 6 *( TWO TWO ) ), ${-} );
	call assert_equals( 1, %( 1 2 ), ${-} );
	call assert_equals( 1, %( 1 two ), ${-} );
	call assert_equals( 8, <<( 4 ONE ), ${-} );
	call assert_equals( 8, <<( 4 1 ), ${-} );
	call assert_equals( 8, <<( 4 one ), ${-} );
	call assert_equals( -4, >>( -8 ONE ), ${-} );
	call assert_equals( -4, >>( -8 1 ), ${-} );
	call assert_equals( -4, >>( -8 one ), ${-} );
	call assert_equals( 1, =( 1 ONE ), ${-} );
	call assert_equals( 1, =( 1 1 ), ${-} );
	call assert_equals( 1, =( 1 one ), ${-} );
	call assert_equals( 0, =( 1 FALSE ), ${-} );
	call assert_equals( 0, =( 1 0 ), ${-} );
	call assert_equals( 0, =( 1 zero ), ${-} );
	call assert_equals( 0, <>( 1 ONE ), ${-} );
	call assert_equals( 0, <>( 1 1 ), ${-} );
	call assert_equals( 0, <>( 1 one ), ${-} );
	call assert_equals( 1, <>( 1 FALSE ), ${-} );
	call assert_equals( 1, <>( 1 0 ), ${-} );
	call assert_equals( 1, <>( 1 zero ), ${-} );
	call assert_equals( 1, <( 0 ONE ), ${-} );
	call assert_equals( 1, <( 0 1 ), ${-} );
	call assert_equals( 1, <( 0 one ), ${-} );
	call assert_equals( 0, <( 1 ONE ), ${-} );
	call assert_equals( 0, <( 1 1 ), ${-} );
	call assert_equals( 0, <( 1 one ), ${-} );
	call assert_equals( 1, <e( 0 ONE ), ${-} );
	call assert_equals( 1, <e( 0 1 ), ${-} );
	call assert_equals( 1, <e( 0 one ), ${-} );
	call assert_equals( 1, <e( 1 ONE ), ${-} );
	call assert_equals( 1, <e( 1 1 ), ${-} );
	call assert_equals( 1, <e( 1 one ), ${-} );
	call assert_equals( 0, <e( 1 FALSE ), ${-} );
	call assert_equals( 0, <e( 1 0 ), ${-} );
	call assert_equals( 0, <e( 1 zero ), ${-} );
	call assert_equals( 1, >( 1 FALSE ), ${-} );
	call assert_equals( 1, >( 1 0 ), ${-} );
	call assert_equals( 1, >( 1 zero ), ${-} );
	call assert_equals( 0, >( 1 ONE ), ${-} );
	call assert_equals( 0, >( 1 1 ), ${-} );
	call assert_equals( 0, >( 1 one ), ${-} );
	call assert_equals( 1, >e( 1 FALSE ), ${-} );
	call assert_equals( 1, >e( 1 0 ), ${-} );
	call assert_equals( 1, >e( 1 zero ), ${-} );
	call assert_equals( 1, >e( 1 ONE ), ${-} );
	call assert_equals( 1, >e( 1 1 ), ${-} );
	call assert_equals( 1, >e( 1 one ), ${-} );
	call assert_equals( 0, >e( 0 ONE ), ${-} );
	call assert_equals( 0, >e( 0 1 ), ${-} );
	call assert_equals( 0, >e( 0 one ), ${-} );
	call assert_equals( 0, &( 1 TWO ), ${-} );
	call assert_equals( 0, &( 1 2 ), ${-} );
	call assert_equals( 0, &( 1 two ), ${-} );
	call assert_equals( 2, &( 2 TWO ), ${-} );
	call assert_equals( 2, &( 2 2 ), ${-} );
	call assert_equals( 2, &( 2 two ), ${-} );
	call assert_equals( 3, |( 1 TWO ), ${-} );
	call assert_equals( 3, |( 1 2 ), ${-} );
	call assert_equals( 3, |( 1 two ), ${-} );
	call assert_equals( 1, ^( 1 FALSE ), ${-} );
	call assert_equals( 1, ^( 1 0 ), ${-} );
	call assert_equals( 1, ^( 1 zero ), ${-} );
	call assert_equals( 0, ^( 1 ONE ), ${-} );
	call assert_equals( 0, ^( 1 1 ), ${-} );
	call assert_equals( 0, ^( 1 one ), ${-} );
	call assert_equals( -1, ~( FALSE ), ${-} );
	call assert_equals( 21, +( *( +( *( 1 2 ) 3 ) 4 ) 1 ), ${-} );
	call assert_equals( 10, +( *( +( *( 1 two ) two ) two ) two ), ${-} );
	call assert_throws( "1", ${ () { call +( except( ${ 1 } ) except( ${ 0 } ) ); } } );
	call assert_throws( "1", ${ () { call +( except( ${ 1 } ) 0 ); } } );
	call assert_throws( "1", ${ () { call +( 0 except( ${ 1 } ) ); } } );
	call assert_throws( "Integer division by zero", ${ () { call /( 1 FALSE ); } } );
	call assert_throws( "Integer division by zero", ${ () { call /( 1 0 ); } } );
	call assert_throws( "Integer division by zero", ${ () { var zero; call /( 1 zero ); } } );
	call assert_throws( "Modulo division by zero", ${ () { call %( 1 FALSE ); } } );
	call assert_throws( "Modulo division by zero", ${ () { call %( 1 0 ); } } );
	call assert_throws( "Modulo division by zero", ${ () { var zero; call %( 1 zero ); } } );
}

function testlogic() {
	call assert_equals( 1, !( 0 ), ${-} );
	call assert_equals( 0, !( 1 ), ${-} );
	call assert_equals( 0, !( "" ), ${-} );
	call assert_equals( 0, &&( 0 0 ), ${-} );
	call assert_equals( 0, &&( 0 1 ), ${-} );
	call assert_equals( 0, &&( 1 0 ), ${-} );
	call assert_equals( 1, &&( 1 1 ), ${-} );
	call assert_equals( 1, &&( 1 1 1 ), ${-} );
	call assert_equals( 1, &&( 1 "a" ), ${-} );
	call assert_equals( 1, &&( "a" 1 ), ${-} );
	call assert_equals( 1, &&( "a" "a" "a" ), ${-} );
	call assert_equals( 0, &&( 0 except( ${-} ) ), ${-} );
	call assert_equals( 0, ||( 0 0 ), ${-} );
	call assert_equals( 1, ||( 0 1 ), ${-} );
	call assert_equals( 1, ||( 1 0 ), ${-} );
	call assert_equals( 1, ||( 1 1 ), ${-} );
	call assert_equals( 1, ||( 0 0 1 ), ${-} );
	call assert_equals( 1, ||( 0 "a" ), ${-} );
	call assert_equals( 1, ||( "a" 0 ), ${-} );
	call assert_equals( 1, ||( 1 except( ${-} ) ), ${-} );
	call assert_throws( "1", ${ () { call !( except( ${ 1 } ) ); } } );
	call assert_throws( "1", ${ () { call &&( except( ${ 1 } ) 1 ); } } );
	call assert_throws( "1", ${ () { call &&( 1 except( ${ 1 } ) ); } } );
	call assert_throws( "1", ${ () { call ||( except( ${ 1 } ) 0 ); } } );
	call assert_throws( "1", ${ () { call ||( 0 except( ${ 1 } ) ); } } );
}

function testternary() {
	call assert_equals( 1, ?( 0, except( ${-} ), 1 ), ${-} );
	call assert_equals( 1, ?( 1, 1, except( ${-} ) ), ${-} );
	call assert_throws( "1", ${ () { call ?( except( ${ 1 } ), 0, 0 ); } } );
	call assert_throws( "1", ${ () { call ?( 0, 0, except( ${ 1 } ) ); } } );
	call assert_throws( "1", ${ () { call ?( 1, except( ${ 1 } ), 0 ); } } );
}

function testcmp() {
	call assert( =( $cmp( 0 0 ) 0 ), ${-} );
	call assert( >( $cmp( 1 0 ) 0 ), ${-} );
	call assert( <( $cmp( 0 1 ) 0 ), ${-} );
	call assert( >( $cmp( "a" 0 ) 0 ), ${-} );
	call assert( <( $cmp( 0 "a" ) 0 ), ${-} );
	call assert( =( $cmp( "" "" ) 0 ), ${-} );
	call assert( =( $cmp( "0" "0" ) 0 ), ${-} );
	call assert( =( $cmp( STR "*" ) 0 ), ${-} );
	call assert( =( $cmp( CAT "**" ) 0 ), ${-} );
	call assert( =( $cmp( $tup( "a" 1 ) $tup( "a" 1 ) ) 0 ), ${-} );
	call assert( >( $cmp( 1 0 ) 0 ), ${-} );
	call assert( >( $cmp( "1" "0" ) 0 ), ${-} );
	call assert( <( $cmp( "0" "1" ) 0 ), ${-} );
	call assert( >( $cmp( "aa" "a" ) 0 ), ${-} );
	call assert( <( $cmp( "a" "aa" ) 0 ), ${-} );
	call assert( <( $cmp( "b" "ba" ) 0 ), ${-} );
	call assert( <( $cmp( "ba" "bb" ) 0 ), ${-} );
	call assert( <( $cmp( $tup( "a" 0 ) $tup( "b" 1 ) ) 0 ), ${-} );
	call assert( <( $cmp( $tup( "a" 1 ) $tup( "b" 1 ) ) 0 ), ${-} );
	call assert_throws( "1", ${ () { call $cmp( except( ${ 1 } ) "" ); } } );
	call assert_throws( "1", ${ () { call $cmp( "" except( ${ 1 } ) ); } } );
}

function testcat() {
	call assert_equals( "0", $cat( 0 ), ${-} );
	call assert_equals( "01", $cat( 0 1 ), ${-} );
	call assert_equals( "0", $cat( "" 0 ), ${-} );
	call assert_equals( "0", $cat( 0 "" ), ${-} );
	call assert_equals( "012", $cat( 0 "1" "2" ), ${-} );
	call assert_equals( a, $cat( a ), ${-} );
	call assert_throws( "1", ${ () { call $cat( except( ${ 1 } ) "" ); } } );
	call assert_throws( "1", ${ () { call $cat( "" except( ${ 1 } ) ); } } );
}

function testchr() {
	var idx, chr = "\377";
	call assert_equals( 126, $chr( "~" 0 ), ${-} );
	call assert_equals( -1, $chr( chr idx ), ${-} );
	call assert_equals( 0, idx, ${-} );
	call assert_equals( -1, $chr( chr idx++ ), ${-} );
	call assert_equals( 1, idx, ${-} );
	call assert_throws( "1", ${ () { call $chr( except( ${ 1 } ) 0 ); } } );
	call assert_throws( "1", ${ () { call $chr( "" except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string", ${ () { call $chr( 0 0 ); } } );
	call assert_throws( "String index", ${ () { call $chr( "" -1 ); } } );
	call assert_throws( "String index", ${ () { call $chr( "" 0 ); } } );
}

function testsub() {
	call assert_equals( "b", $sub( "abc" 1 1 ), ${-} );
	call assert_equals( "ABC", $sub( $array( ${ 65, 66, 67 } ) 0 3 ), ${-} );
	call assert_throws( "1", ${ () { call $sub( except( ${ 1 } ) 0 0 ); } } );
	call assert_throws( "1", ${ () { call $sub( "" except( ${ 1 } ) 0 ); } } );
	call assert_throws( "1", ${ () { call $sub( "" 0 except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string", ${ () { call $sub( 0 0 0 ); } } );
	call assert_throws( "Range out of bounds", ${ () { call $sub( $array( 1 ) 1 1 ); } } );
	call assert_throws( "Range out of bounds", ${ () { call $sub( "a" 1 1 ); } } );
	call assert_throws( "Range out of bounds", ${ () { call $sub( "a" -1 1 ); } } );
	call assert_throws( "Range out of bounds", ${ () { call $sub( "a" 0 -1 ); } } );
}

function testasc() {
	call assert_equals( "~", $asc( 126 ), ${-} );
	call assert_throws( "1", ${ () { call $asc( except( ${ 1 } ) ); } } );
}

function testhex() {
	call assert_equals( "0x00000000", $hex( 0x00000000 ), ${-} );
	call assert_equals( "0xFFFFFF00", $hex( -256 ), ${-} );
	call assert_throws( "1", ${ () { call $hex( except( ${ 1 } ) ); } } );
}

function testint() {
	call assert_equals( 1, $int( "1" ), ${-} );
	call assert_equals( 10, $int( "0xA" ), ${-} );
	call assert_equals( 8, $int( "010" ), ${-} );
	call assert_equals( 0xFFFFFF00, $int( "0xFFFFFF00" ), ${-} );
	call assert_equals( -0xFFFFFF00, $int( "-0xFFFFFF00" ), ${-} );
	call assert_throws( "1", ${ () { call $int( except( ${ 1 } ) ); } } );
	call assert_throws( "Unable to convert", ${ () { call $int( "a" ); } } );
}

function testlen() {
	call assert_equals( 0, $len( "" ), ${-} );
	call assert_equals( 1, $len( "a" ), ${-} );
	call assert_equals( 1, $len( $array( 1 ) ), ${-} );
	call assert_throws( "1", ${ () { call $len( except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string or array", ${ () { call $len( 0 ); } } );
}

function testtup() {
	call assert_equals( 1,  $tup( 0, $tup( "a", 1 ) ), ${-} );
	call assert_throws( "1", ${ () { call $tup( except( ${ 1 } ) 0 ); } } );
	call assert_throws( "1", ${ () { call $tup( "", except( ${ 1 } ) ); } } );
}

function testread() {
	call assert_equals( "", $read( 0 ), ${-} );
	call assert_throws( "1", ${ () { call $read( except( ${ 1 } ) ); } } );
	call assert_throws( "Invalid length", ${ () { call $read( -1 ); } } );
}

function testload() {
	var path = $src( @test );
	var src = $load( path );
	call assert_equals( $sub( src, 100, -( $len( src ) 100 ) ), $load( path, 100 ), ${-} );
	call assert_equals( $sub( src, 100, 100 ), $load( path, 100, 100 ), ${-} );
	call assert_equals( "", $load( path, 0, 0 ), ${-} );
	call assert_equals( "", $load( path, -1, 0 ), ${-} );
	call assert_equals( "", $load( path, $len( src ), 1 ), ${-} );
	call assert_equals( src, $load( path, 0, +( $len( src ) 1 ) ), ${-} );
	call assert_throws( "1", ${ () { call $load( except( ${ 1 } ) ); } } );
	call assert_throws( "2", ${ () { call $load( "", except( ${ 2 } ) ); } } );
	call assert_throws( "3", ${ () { call $load( "", 0, except( ${ 3 } ) ); } } );
	call assert_throws( "Too many", ${ () { call $load( "", 0, 0, 0 ); } } );
	call assert_throws( "Not a string", ${ () { call $load( 0 ); } } );
}

function testsave() {
	call assert_throws( "1", ${ () { save except( ${ 1 } ), 0; } } );
	call assert_throws( "1", ${ () { save "", except( ${ 1 } ); } } );
	call assert_throws( "Not a string", ${ () { save 0 0; } } );
	call assert_throws( "Not a string", ${ () { append "", 0; } } );
}

function testflen() {
	call assert_equals( $flen( $src( @test ) ), $len( $load( $src( @test ) ) ), ${-} );
	call assert_throws( "1", ${ () { call $flen( except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string", ${ () { call $flen( 0 ); } } );
}

function testargc() {
	call assert( >( $argc 0 ), ${-} );
}

function testargv() {
	call assert_equals( $src( @test ), $argv( 0 ), ${-} );
	call assert_throws( "1", ${ () { call $argv( except( ${ 1 } ) ); } } );
	call assert_throws( "Command-line argument index", ${ () { call $argv( -1 ); } } );
}

function testtime() {
	call assert_equals( 24, $len( $time ), ${-} );
}

function testparse() {
	var elem = $parse( "#test\12 rem { Test }" );
	call assert_equals( "rem", elem, ${-} );
	call assert_equals( "Test", $child( $next( elem ) ), ${-} );
	call assert_throws( "1", ${ () { call $parse( except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string", ${ () { call $parse( 0 ); } } );
	call assert_throws( "Unclosed string", ${ () { call $parse( "\""); } } );
	call assert_throws( "Unexpected closing bracket", ${ () { call $parse( "())"); } } );
	call assert_throws( "Unclosed element", ${ () { call $parse( "(}" ); } } );
}

function testunparse() {
	var elem = $parse( $unparse( ${ rem { Test } } ) );
	call assert_equals( "rem", elem, ${-} );
	call assert_equals( "Test", $child( $next( elem ) ), ${-} );
	call assert_throws( "1", ${ () { call $unparse( except( ${ 1 } ) ); } } );
	call assert_throws( "Not an element", ${ () { call $unparse( 0 ); } } );
}

function testchild() {
	call assert_equals( "a", $child( ${ ( a ) } ), ${-} );
	call assert_equals( "*", $child( ELE ), ${-} );
	call assert_throws( "1", ${ () { call $child( except( ${ 1 } ) ); } } );
	call assert_throws( "Not an element", ${ () { call $child( 0 ); } } );
}

function testnext() {
	call assert_equals( "a", $next( ${ 0 a } ), ${-} );
	call assert_throws( "1", ${ () { call $next( except( ${ 1 } ) ); } } );
	call assert_throws( "Not an element", ${ () { call $next( 0 ); } } );
}

function testline() {
	var x = $line( ${-} );
	var y = $line( ${-} );
	call assert_equals( 1, -( y x ), ${-} );
	call assert_throws( "1", ${ () { call $line( except( ${ 1 } ) ); } } );
	call assert_throws( "Not an element", ${ () { call $line( 0 ); } } );
}

function testquote() {
	call assert_equals( "\"\\\"\\\\\\177\"", $quote( $str( "\"\\" $asc( 127 ) ) ), ${-} );
	call assert_throws( "1", ${ () { call $quote( except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string", ${ () { call $quote( 0 ); } } );
}

function testunquote() {
	call assert_equals( "\\~", $unquote( "\"\\\\\\176\"" ), ${-} );
	call assert_throws( "1", ${ () { call $unquote( except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string", ${ () { call $unquote( 0 ); } } );
}

function testpack() {
	call assert_equals( "\0\0\0\0", $pack( 0 ), ${-} );
	call assert_equals( "\0\0\0\1", $pack( 1 ), ${-} );
	call assert_equals( "\1\2\3\4", $pack( 0x01020304 ), ${-} );
	call assert_equals( "\0\0\0\0\1\2\3\4", $pack( $array( ${ 0, 0x1020304 } ) ), ${-} );
	call assert_throws( "1", ${ () { call $pack( except( ${ 1 } ) ); } } );
}

function testunpack() {
	var x;
	call assert_equals( 1, $unpack( "\0\0\0\1" x ), ${-} );
	call assert_equals( 0x1020304, $unpack( "\1\2\3\4" 0 ), ${-} );
	call assert_equals( -1, $unpack( $pack( -1 ) 0 ), ${-} );
	call assert_equals( 2, $unpack( $pack( $array( ${ 1 2 } ) ) 1 ), ${-} );
	call assert_throws( "1", ${ () { call $unpack( except( ${ 1 } ) 0 ); } } );
	call assert_throws( "1", ${ () { call $unpack( "" except( ${ 1 } ) ); } } );
	call assert_throws( "Not a string", ${ () { call $unpack( 0 0 ); } } );
	call assert_throws( "String index", ${ () { call $unpack( "\0\0\0\0" -1 ); } } );
	call assert_throws( "String index", ${ () { call $unpack( "\0\0\0" 0 ); } } );
}

function teststruct() {
	var ( exten ) obj = $new( exten );
	let exten.f( obj ) = "a";
	let exten.f( obj ) = 1;
	let obj.g = 2;
	call assert_equals( 5, $len( struc ), ${-} );
	call assert_equals( 7, $len( exten ), ${-} );
	call assert_equals( 0, struc.a, ${-} );
	call assert_equals( 4, struc.e, ${-} );
	call assert_equals( 6, exten.g, ${-} );
	call assert_equals( 7, $len( $new( exten ) ), ${-} );
	call assert_equals( 1, exten.f( obj ), ${-} );
	call assert_equals( 2, obj.g, ${-} );
	call assert_throws( "Field 'struc.xxx' not declared", ${ () { call struc.xxx; } } );
	call assert_throws( "Wrong number", ${ () { call struc.a( 0 0 ); } } );
	call assert_throws( "Not an instance", ${ () { call struc.a( 0 ); } } );
	call assert_throws( "Not an instance", ${ () { call exten.g( $new( struc ) ); } } );
	call assert_throws( "Undeclared", ${ () { set struc( 0 ) = 0; } } );
	call assert_throws( "Field 'struc.xxx' not declared", ${ () { set struc.xxx( 0 ) = 0; } } );
	call assert_throws( "Invalid", ${ () { set struc.a() = 0; } } );
	call assert_throws( "Not an instance", ${ () { set struc.a( 0 ) = 0; } } );
	call assert_throws( "Not an instance", ${ () { set exten.g( $new( struc ) ) = 0; } } );
	call assert_throws( "Structure 'xxx' not", ${ () { var ( xxx ) a; } } );
	call assert_throws( "Expression 'p.xxx' has no", ${ ( p ) { call p.xxx; } } );
	call assert_throws( "Field not declared", ${ ( ( exten ) p ) { call p.xxx; } } );
	call assert_throws( "Expression 'a.xxx' has no", ${ () { call a.xxx; } } );
	call assert_throws( "Field not declared", ${ () { call ext.xxx; } } );
	call assert_throws( "Variable 'p' has no", ${ ( p ) { let p.xxx = 1; } } );
	call assert_throws( "Field 'p.xxx' not declared", ${ ( ( exten ) p ) { let p.xxx = 1; } } );
	call assert_throws( "Variable 'a' has no", ${ () { let a.xxx = 1; } } );
	call assert_throws( "Field 'ext.xxx' not declared", ${ () { let ext.xxx = 1; } } );
}

function testfuncref() {
	call assert_equals( "testfuncref", @testfuncref, ${-} );
	call setg( 0 );
	call :( @setg 1 );
	call assert_equals( 1, g, ${-} );
	call assert_throws( "Expected '(' after ':'", ${ () { call :; } } );
	call assert_throws( "Expected expression after '('", ${ () { call :(); } } );
	call assert_throws( "Not a function reference.", ${ () { call :( $tup( "a" 1 ) ); } } );
	call assert_throws( "Incorrect number of parameters", ${ () { call :( @setg 1 2 ); } } );
	call assert_throws( "Function 'xxx' not declared", ${ () { call @xxx; } } );
}

function testsame() {
	call assert_equals( 1, $same( 0 0 ), ${-} );
	call assert_equals( 1, $same( STR STR ), ${-} );
	call assert_equals( 1, $same( @testsame @testsame ), ${-} );
	call assert_equals( 0, $same( STR "*" ), ${-} );
	call assert_equals( 0, $same( STR $tup( STR 1 ) ), ${-} );
	call assert_throws( "1", ${ () { call setg( 0 ); call $same( except( ${ 1 } ) setg( 2 ) ); } } );
	call assert_equals( 0, g, ${-} );
	call assert_throws( "2", ${ () { call $same( 0, except( ${ 2 } ) ); } } );
}

function testeq() {
	call assert_equals( 1, $eq( 0 0 ), ${-} );
	call assert_equals( 1, $eq( "" "" ), ${-} );
	call assert_equals( 1, $eq( "a" "a" ), ${-} );
	call assert_equals( 1, $eq( STR STR ), ${-} );
	call assert_equals( 1, $eq( @testeq @testeq ), ${-} );
	call assert_equals( 0, $eq( 0 1 ), ${-} );
	call assert_equals( 0, $eq( 0 "a" ), ${-} );
	call assert_equals( 0, $eq( "a" 0 ), ${-} );
	call assert_equals( 0, $eq( "a" "aa" ), ${-} );
	call assert_throws( "1", ${ () { call setg( 0 ); call $eq( except( ${ 1 } ) setg( 2 ) ); } } );
	call assert_equals( 0, g, ${-} );
	call assert_throws( "2", ${ () { call $eq( 0, except( ${ 2 } ) ); } } );
}

function testsrc() {
	call assert_equals( "test.tt", $sub( $src( @test ), -( $len( $src( @test ) ) 7 ), 7 ), ${-} );
	call assert_throws( "Not a function", ${ () { call $src( 0 ); } } );
}

function teststridx() {
	call assert_equals( -1, $stridx( "file", "", 0 ), ${-} );
	call assert_equals( -1, $stridx( "file", "/", 0 ), ${-} );
	call assert_equals( 1, $stridx( "c:\\file", "/:\\", 0 ), ${-} );
	call assert_equals( 2, $stridx( "c:\\file\\", "/:\\", 2 ), ${-} );
	call assert_equals( 7, $stridx( "c:\\file\\", "/:\\", 3 ), ${-} );
	call assert_equals( 2, $endidx( "c:\\file", "/:\\" ), ${-} );
	call assert_throws( "1", ${ () { call setg( "0" ); call $stridx( except( ${ 1 } ), setg( "2" ), 0 ); } } );
	call assert_equals( "0", g, ${-} );
	call assert_throws( "2", ${ () { call $stridx( setg( "1" ), except( ${ 2 } ), 0 ); } } );
	call assert_equals( "1", g, ${-} );
	call assert_throws( "3", ${ () { call $stridx( setg( "1" ), setg( "2" ), except( ${ 3 } ) ); } } );
	call assert_equals( "2", g, ${-} );
	call assert_throws( "Not a string.", ${ () { call $stridx( 0, "", 0 ); } } );
	call assert_throws( "Not a string.", ${ () { call $stridx( "", 0, 0 ); } } );
	call assert_throws( "String index", ${ () { call $stridx( "", "", 0 ); } } );
	call assert_throws( "String index", ${ () { call $stridx( "a", "a", 1 ); } } );
}

function testinterrupted() {
	var x;
	let x = STR;
	let x = $interrupted;
	call assert( !( x ), ${-} );
}

function testinc() {
	var int;
	inc int;
	call assert_equals( 1, int, ${-} );
	call assert_throws( "Not a number.", ${ () { var int = ""; inc int; } } );
	call assert_throws( "Undeclared local variable", ${ () { inc a; } } );
	call assert_throws( "Expected name after 'inc'", ${ () { inc; } } );
}

function testdec() {
	var int;
	dec int;
	call assert_equals( -1, int, ${-} );
	call assert_throws( "Not a number.", ${ () { var int = ""; dec int; } } );
	call assert_throws( "Undeclared local variable", ${ () { dec a; } } );
}

function testelem() {
	call assert_equals( 0, ${}, ${-} );
	call assert_equals( "1", $elem( ${ 1 }, 0, 0 ), ${-} );
	call assert_equals( "2", $child( $elem( ${()}, ${ 2 }, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( ${[]}, ${ 2 }, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( ${{}}, ${ 2 }, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( ${{}}, $elem( ${ 2 }, 0, 0 ), 0 ) ), ${-} );
	call assert_equals( "3", $next( $elem( ${ 1 }, 0, ${ 3 } ) ), ${-} );
	call assert_equals( "3", $next( $elem( ${ 1 }, 0, $elem( ${ 3 }, 0, 0 ) ) ), ${-} );
	call assert_equals( "()", $elem( $parse( "(abc) def" ), 0, 0 ), ${-} );
	call assert_equals( 0, $child( $elem( $parse( "(abc) def" ), 0, 0 ) ), ${-} );
	call assert_equals( "2", $child( $elem( $parse( "(abc) def" ), ${ 2 }, 0 ) ), ${-} );
	call assert_equals( 0, $next( $elem( $parse( "(abc) def" ), 0, 0 ) ), ${-} );
	call assert_equals( "3", $next( $elem( $parse( "(abc) def" ), ${ 2 }, ${ 3 } ) ), ${-} );
	call assert_equals( "3", $next( $elem( $elem( ${()}, ${ abc }, ${ def } ), ${ 2 }, ${ 3 } ) ), ${-} );
	call assert_throws( "1", ${ () { call $elem( except( ${ 1 } ), 0, 0 ); } } );
	call assert_throws( "Not an element.", ${ () { call $elem( 1, 0, 0 ); } } );
	call assert_throws( "2", ${ () { call $elem( ${-}, except( ${ 2 } ), 0 ); } } );
	call assert_throws( "Not an element.", ${ () { call $elem( ${-}, 2, 0 ); } } );
	call assert_throws( "3", ${ () { call $elem( ${-}, 0, except( ${ 3 } ) ); } } );
	call assert_throws( "Not an element.", ${ () { call $elem( ${-}, 0, 3 ); } } );
	call assert_throws( "Parent elements must", ${ () { call $elem( ${-}, ${ 2 }, 0 ); } } );
	call assert_throws( "Expected '{' after '$'", ${ () { call $; } } );
}

function testexpr() {
	var elem = ${ 0 1 "2" $tup( "Three" 3 ) ${ [4] } @testexpr $function( ${ () {} } ) struc $buffer( 0 ) $new( exten ) };
	var expr = $parse( $unparse( $expr( $array( elem ) ) ) );
	call assert_equals( "$array", expr, ${-} );
	var arr = $array( $child( $next( expr ) ) );
	call assert_equals( 10, [ arr 0 ], ${-} );
	call assert_equals( 0, [ arr 1 ], ${-} );
	call assert_equals( 1, [ arr 2 ], ${-} );
	call assert_equals( "2", [ arr 3 ], ${-} );
	call assert_equals( $tup( "Three" 3 ), [ arr 4 ], ${-} );
	call assert_equals( "4", $child( [ arr 5 ] ), ${-} );
	call assert_equals( "testexpr", [ arr 6 ], ${-} );
	call assert_equals( "[Function]", [ arr 7 ], ${-} );
	call assert_equals( struc, [ arr 8 ], ${-} );
	call assert_equals( "[Buffer]", [ arr 9 ], ${-} );
	call assert_equals( exten, $type( [ arr 10 ] ), ${-} );
	call assert_throws( "1", ${ () { call $expr( except( ${ 1 } ) ); } } );
	call assert_throws( "Unsupported", ${ () { call $expr( $worker( ${ () {} } ) ); } } );
}

function testfunction() {
	call assert_equals( ONE :(
		$function( ${ () { 
			return :( $function( $parse( "( param ) { return param; }" ) ) ONE );
		} } ) ), ${-} );
	var ( struc ) local = 1;
	call assert_equals( local, :( $function( ${ () { return local; } } ) ), ${-} );
	let local = "a";
	call assert_equals( local, :( $function( ${ () { return local; } } ) ), ${-} );
	let local = $new( struc "a" );
	call assert_equals( local.a, :( $function( ${ () { return local.a; } } ) ), ${-} );
	call assert_equals( local.a, :( $function( ${ () { return local:geta(); } } ) ), ${-} );
	call assert_equals( STR, :( $function( ${ ( x ) { if x { return x; } return @( STR ); } } ) 0 ), ${-} );
	call assert_throws( "1", ${ () { return except( ${ 1 } ); } } );
	call assert_throws( "1", ${ () { call $function( except( ${ 1 } ) ); } } );
	call assert_throws( "1", ${ () { call :( $function( ${ ( param ) {} } ) except( ${ 1 } ) ); } } );
	call assert_throws( "Not an element.", ${ () { call $function( 0 ); } } );
	call assert_throws( "Expected '(' after '$function'", ${ () { call $function( ${ x } ); } } );
	call assert_throws( "Invalid name '1'", ${ () { call $function( ${ ( 1 ) {} } ); } } );
	call assert_throws( "Invalid name 'a$'", ${ ( a$ ) {} } );
	call assert_throws( "Parameter 'x' already", ${ () { call $function( ${ ( x x ) {} } ); } } );
	call assert_throws( "Local variable 'x' already", ${ () { call $function( ${ ( x ) { var x; } } ); } } );
	call assert_throws( "Unrecognized keyword 'x'", ${ () { call $function( ${ () { x } } ); } } );
	call assert_throws( "Structure 'xxx' not declared", ${ ( ( xxx ) p ) {} } );
}

function testworker() {
	var worker = $execute( $worker( ${ () { locked { var a = 1, e = ${1(2)}; return a; } } } ) );
	call assert_equals( 1, $result( worker ), ${-} );
	call assert_equals( 1, $result( $execute( $worker( ${ ( a ) { let [ a 0 ] = 1; return [ a 0 ]; } } ), $buffer( 1 ) ) ), ${-} );
	call assert_throws( "Unable to lock", ${ () { call $result( $execute( $worker( ${ () { locked { locked {} } } } ) ) ); } } );
	call assert_throws( "1", ${ () { call $result( $execute( $worker( ${ ( a ) { throw a; } } ), "1" ) ); } } );
	call assert_throws( "Not an element.", ${ () { call $worker( 0 ); } } );
	call assert_throws( "Expected '(' after '$worker'", ${ () { call $worker( ${ x } ); } } );
	call assert_throws( "Invalid name '1'", ${ () { call $worker( ${ ( 1 ) {} } ); } } );
	call assert_throws( "Parameter 'x' already", ${ () { call $worker( ${ ( x x ) {} } ); } } );
	call assert_throws( "Not an instance of 'Worker'", ${ () { call $execute( 0 ); } } );
	call assert_throws( "Incorrect number", ${ () { call $execute( $worker( ${ ( a ) {} } ) ); } } );
	call assert_throws( "Worker locked", ${ () { var w = $worker( ${ () {} } ); lock w { call $execute( w ); } } } );
	call assert_throws( "Values of this type", ${ () { call $execute( $worker( ${ ( a ) {} } ), ${ x } ); } } );
	call assert_throws( "Not an instance", ${ () { call $result( 0 ); } } );
	call assert_throws( "Worker locked", ${ () { var w = $worker( ${ () {} } ); lock w { call $result( w ); } } } );
	call assert_throws( "Worker exited", ${ () { call $result( $execute( $worker( ${ () { exit 0; } } ) ) ); } } );
	call assert_throws( "Values of this type", ${ () { call $result( $execute( $worker( ${ () { return $array( 0 ); } } ) ) ); } } );
	call assert_throws( "Unhandled", ${ () { call $result( $execute( $worker( ${ () { call $worker( 0 ); } } ) ) ); } } );
}

function testthiscall() {
	var ( exten ) obj = $new( exten ), ( struc ) s;
	let [ obj exten.g ] = $function( ${ ( ( exten ) this x ) { let this.f = x; return x; } } );
	call assert_equals( 1, :exten.g( obj 1 ), ${-} );
	call assert_equals( 2, :obj.g( 2 ), ${-} );
	call assert_equals( 2, [ obj exten.f ], ${-} );
	let ext.g = obj.g;
	call assert_equals( 3, :ext.g( 3 ), ${-} );
	call assert_equals( 3, ext.f, ${-} );
	call assert_equals( 4 :( $function( ${ () { return ?( 1 :obj.g( 4 ) :s.a( 3 ) ); } } ) ), ${-} );
	call assert_throws( "Not an instance", ${ () { call :exten.g( 0 ); } } );
	call assert_throws( "Not an instance", ${ () { call :exten.g( $array( 0 ) ); } } );
	call assert_throws( "Not a function", ${ () { call :exten.g( $array( exten ) ); } } );
	call assert_throws( "Incorrect number of parameters", ${ () { call :ext.g(); } } );
	call assert_throws( "Undeclared", ${ () { call :x(); } } );
	call assert_throws( "Undeclared", ${ () { call :exten(); } } );
	call assert_throws( "Field 'exten.x' not declared", ${ () { call :exten.x(); } } );
	call assert_throws( "Expected '('", ${ () { call :exten.g; } } );
	call assert_throws( "Expected expression", ${ () { call :exten.g(); } } );
}

function testmembercall() {
	var ( exten ) obj = $new( exten );
	let obj.a = 1;
	let obj.g = 2;
	call assert_equals( 1, obj:geta(), ${-} );
	call assert_equals( 2, obj:getg(), ${-} );
	call assert_equals( 0, ext:geta(), ${-} );
	call assert_throws( "Expression", ${ () { var x; call x:xxx(); } } );
	call assert_throws( "Member function", ${ () { var ( exten ) x; call x:xxx(); } } );
	call assert_throws( "Expected '('", ${ () { var ( exten ) x; call x:geta; } } );
	call assert_throws( "Wrong number", ${ () { var ( exten ) x; call x:geta(0); } } );
}

function testtype() {
	call assert_equals( 0, $type( 0 ), ${-} );
	call assert_equals( 1, $type( "" ), ${-} );
	call assert_equals( 2, $type( ${-} ), ${-} );
	call assert_equals( 3, $type( $array( 0 ) ), ${-} );
	call assert_equals( 4, $type( struc ), ${-} );
	call assert( $same( $type( $new( struc ) ) struc ), ${-} );
}

function testfield() {
	call assert_equals( "a", $field( struc 0 ), ${-} );
	call assert_equals( "g", $field( exten 6 ), ${-} );
	call assert_throws( "Not a structure", ${ () { call $field( 0 0 ); } } );
	call assert_throws( "Field index", ${ () { call $field( struc 5 ); } } );
}

function testinstanceof() {
	call assert_equals( 0, $instanceof( $new( struc ) exten ), ${-} );
	call assert( $same( ext $instanceof( ext exten ) ), ${-} );
	call assert( $same( ext $instanceof( ext struc ) ), ${-} );
	call assert_throws( "Not a structure", ${ () { call $instanceof( ext 0 ); } } );
}

function testtrace() {
	var elem = ${ () { return $trace( "abc" ); } };
	var trace = :( $function( elem ) );
	call assert_equals( "abc", trace, ${-} );
	call assert_equals( 3, $len( trace ), ${-} );
	call assert_equals( $line( elem ), $tup( 0 [ trace 0 ] ), ${-} );
	call assert_equals( "testtrace", $str( [ trace 1 ] ), ${-} );
	call assert_equals( "test", $str( [ trace 2 ] ), ${-} );
}

function testeval() {
	call assert_equals( 1, $eval( ${ 1 } ), ${-} );
	call assert_throws( "Expected", ${ () { call $eval( ${ $ } ); } } );
	call assert_throws( "Invalid", ${ () { call $eval( ${ [] } ); } } );
	call assert_throws( "Unhandled", ${ () { call $eval( ${ xxx } ); } } );
	call assert_throws( "Not an element", ${ () { call $eval( ${} ); } } );
}

function testlibrary() {
	call assert_equals( 8, lib_function(), ${-} );
}

function testoptimizer() {
	var one = 1, two = 2, acc, val, arr = $array( 3 0 1 "2" ), str = "abc";
	let acc = +( 1 +( 1 +( 1 +( 1 +( 1 +( 1 +( 1 1 ) ) ) ) ) ) );
	call assert_equals( 8, acc, ${-} );
	let acc = +( 1 val++ );
	inc acc;
	call assert_equals( 2, acc, ${-} );
	call assert_equals( 1, val, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = +( s 1 ); } } );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = +( STR 1 ); } } );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = +( s++ 1 ); } } );
	let acc = +( 1 val-- );
	dec acc;
	call assert_equals( 1, acc, ${-} );
	call assert_equals( 0, val, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = +( 1 s-- ); } } );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = +( $str( STR ) 1 ); } } );
	let acc = +( 1 $len( str ) );
	call assert_equals( 4, acc, ${-} );
	call assert_throws( "X", ${ () { var v = +( 1 except( ${ X } ) ); } } );
	let acc = [ $array( 1 1 ) 0 ];
	call assert_equals( 1, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = [ $array( "" ) 0 ]; } } );
	let acc = +( [ arr 1 ] 1 );
	call assert_equals( 2, acc, ${-} );
	call assert_throws( "Not an array", ${ () { var c; let c = +( [ c c ] 0 ); } } );
	call assert_throws( "Array index", ${ () { var [ s 0 ]; var c = +( [ s 0 ] 0 ); } } );
	call assert_throws( "Not a number", ${ () { var s = $array( 1, "" ); let s = +( [ s 0 ] 0 ); } } );
	let acc = [ arr 1 ];
	call assert_equals( 1, acc, ${-} );
	let acc = [ arr +( 1 1 ) ];
	call assert_equals( "2", acc, ${-} );
	call assert_throws( "Not an array", ${ () { var c; let c = [ c c ]; } } );
	call assert_throws( "Array index", ${ () { var [ s 0 ], i; var c = [ s, i ]; } } );
	let acc = $chr( str, 0 );
	call assert_equals( "a", $asc( acc ), ${-} );
	call assert_throws( "Not a string", ${ () { var c; let c = $chr( c, c ); } } );
	call assert_throws( "String index", ${ () { var s = "", i; var c = $chr( s, i ); } } );
	let acc = $unpack( TAB, 0 );
	call assert_equals( 1, acc ${-} );
	call assert_throws( "Not a string", ${ () { var c; let c = $unpack( ONE, c ); } } );
	call assert_throws( "String index", ${ () { var i = 1; var c = $unpack( TAB, i ); } } );
	let acc = str;
	let acc = str;
	call assert_equals( str, acc, ${-} );
	let [ arr 2 ] = 2;
	call assert_equals( 2, [ arr 2 ], ${-} );
	let [ arr 2 ] = str;
	call assert_equals( str, [ arr 2 ], ${-} );
	let acc = $buffer( 1 );
	let [ acc 0 ] = one;
	call assert_equals( 1, [ acc 0 ], ${-} );
	call assert_throws( "Not a number", ${ () { var s = $buffer( 1 ); let [ s 0 ] = s; } } );
	call assert_throws( "Array index", ${ () { var arr = $array( 0 ); let [ arr 0 ] = 0; } } );
	call assert_throws( "Not an array", ${ () { var arr; let [ arr 0 ] = 0; } } );
	let acc = &( 3 ONE );
	call assert_equals( 1, acc, ${-} );
	let acc = |( 0 ONE );
	call assert_equals( 1, acc, ${-} );
	let acc = ^( 1 ONE );
	call assert_equals( 0, acc, ${-} );
	let acc = +( 1 ONE );
	call assert_equals( 2, acc, ${-} );
	let acc = -( 1 ONE );
	call assert_equals( 0, acc, ${-} );
	let acc = *( 2 TWO );
	call assert_equals( 4, acc, ${-} );
	let acc = /( 6 TWO );
	call assert_equals( 3, acc, ${-} );
	call assert_throws( "Integer division", ${ () { var x = /( 0 NUL ); } } );
	let acc = %( 3 TWO );
	call assert_equals( 1, acc, ${-} );
	call assert_throws( "Modulo division", ${ () { var x = %( 0 NUL ); } } );
	let acc = <<( 1 ONE );
	call assert_equals( 2, acc, ${-} );
	let acc = >>( 2 ONE );
	call assert_equals( 1, acc, ${-} );
	let acc = &( 3 1 );
	call assert_equals( 1, acc, ${-} );
	let acc = |( 0 1 );
	call assert_equals( 1, acc, ${-} );
	let acc = ^( 1 1 );
	call assert_equals( 0, acc, ${-} );
	let acc = +( 1 1 );
	call assert_equals( 2, acc, ${-} );
	let acc = -( 1 1 );
	call assert_equals( 0, acc, ${-} );
	let acc = *( 2 2 );
	call assert_equals( 4, acc, ${-} );
	let acc = /( 6 2 );
	call assert_equals( 3, acc, ${-} );
	call assert_throws( "Integer division", ${ () { var x = /( 0 0 ); } } );
	let acc = %( 3 2 );
	call assert_equals( 1, acc, ${-} );
	call assert_throws( "Modulo division", ${ () { var x = %( 0 0 ); } } );
	let acc = <<( 1 1 );
	call assert_equals( 2, acc, ${-} );
	let acc = >>( 2 1 );
	call assert_equals( 1, acc, ${-} );
	let acc = &( 3 one );
	call assert_equals( 1, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = &( 3 s ); } } );
	let acc = |( 0 one );
	call assert_equals( 1, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = |( 3 s ); } } );
	let acc = ^( 1 one );
	call assert_equals( 0, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = ^( 3 s ); } } );
	let acc = +( 1 one );
	call assert_equals( 2, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = +( 3 s ); } } );
	let acc = -( 1 one );
	call assert_equals( 0, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = -( 3 s ); } } );
	let acc = *( 2 two );
	call assert_equals( 4, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = *( 3 s ); } } );
	let acc = /( 6 two );
	call assert_equals( 3, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = /( 3 s ); } } );
	call assert_throws( "Integer division", ${ () { var x, y = /( 0 x ); } } );
	let acc = %( 3 two );
	call assert_equals( 1, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = %( 3 s ); } } );
	call assert_throws( "Modulo division", ${ () { var x, y = %( 0 x ); } } );
	let acc = <<( 1 one );
	call assert_equals( 2, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = <<( 3 s ); } } );
	let acc = >>( 2 one );
	call assert_equals( 1, acc, ${-} );
	call assert_throws( "Not a number", ${ () { var s = ""; let s = >>( 3 s ); } } );
}

function teststack() {
	call assert_throws( "Maximum", ${ () { var [ arr 1 ]; let [ arr 0 ] = arr; call $expr( arr ); } } );
	call assert_throws( "Maximum", ${ () {
		var lhs = "(", rhs = ")";
		while 1 {
			call $parse( $cat( lhs rhs ) );
			let lhs = $cat( lhs lhs );
			let rhs = $cat( rhs rhs );
		}
	} } );
	call assert_throws( "Stack", ${ () { call @(); } } );
	call assert_throws( "Stack", ${ () {
		var depth = 64;
		var oper = $parse( "!" );
		var next = $parse( "()" );
		var expr = $elem( oper 0 $elem( next ${ 1 } 0 ) );
		while 1 {
			var idx = 0;
			while <( idx depth ) {
				let expr = $elem( oper 0 $elem( next expr 0 ) );
				inc idx;
			}
			call $eval( expr );
			let depth = *( depth 2 );
		}
	} } );
	call assert_throws( "Stack", ${ () {
		var depth = 64;
		var elem = $parse( "()" );
		while 1 {
			var idx = 0;
			while <( idx depth ) {
				let elem = $elem( elem elem 0 );
				inc idx;
			}
			call $unparse( elem );
			let depth = *( depth 2 );
		}
	} } );
	call assert_throws( "Maximum", ${ () {
		var depth = 64;
		var stmt = $parse( "call" );
		var func = $parse( "$function" );
		var parm = $parse( "()" );
		var body = $parse( "{}" );
		var coln = $parse( ":" );
		var semi = $parse( ";" );
		var dolr = $parse( "$" );
		var elem = $elem( parm 0 body );
		while 1 {
			var idx = 0;
			while <( idx depth ) {
				let elem = $elem( parm 0 $elem( body $elem( stmt 0
					$elem( coln 0 $elem( parm $elem( func 0 $elem( parm
						$elem( dolr 0 $elem( body elem 0 ) ) 0 ) ) semi ) ) ) 0 ) );
				inc idx;
			}
			call :( $function( elem ) );
			let depth = *( depth 2 );
		}
	} } );
}

function testscope() {
	var struc = "s";
	call assert_equals( "s", struc, ${-} );
	call assert_equals( "struc", $str( struc! ), ${-} );
	call assert_equals( 4, struc!e, ${-} );
	call assert_equals( "a", struc!a( $new( struc! "a" ) ), ${-} );
	call assert_equals( "a", :struc!a( $new( struc! $function( ${ ( this ) { return "a"; } } ) ) ), ${-} );
	var ( struc ) s = $new( struc! );
	let struc!a( s ) = 1;
	call assert_equals( 1, s.a, ${-} );
	var TEN = "ten";
	call assert_equals( "ten", TEN, ${-} );
	call assert_equals( 10, TEN!, ${-} );
	var fact = "f";
	call assert_equals( "f", fact, ${-} );
	call assert_equals( 2, fact!( 0 2 ), ${-} );
	call assert_throws( "Unhandled", ${ () { var fact; call fact!xxx(); } } );
	call assert_throws( "Unhandled", ${ () { call hello:(); } } );
	var g = 1;
	let g! = 0;
	call assert_equals( 1, g, ${-} );
	call assert_equals( 0, g!, ${-} );
	let ext.a = 1;
	call assert_equals( 1, ext!:geta(), ${-} );
	call assert_throws( "Field", ${ () { var ext; call :ext!xxx.a(); } } );
	call assert_throws( "Field", ${ () { var ext; call ext!xxx.a; } } );
	call assert_throws( "Field", ${ () { var ext; let ext!xxx.a = ext!a; } } );
	call assert_throws( "Undeclared", ${ () { var ext; let exten!xxx.a( ext! ) = ext!a; } } );
}

program test {
	call hello();
	call assert( =( testvoid() 0 ), ${-} );
	call assert( =( testvars( ONE ) ONE ), ${-} );
	call testprint();
	call testarray();
	call testbuffer();
	call assert( =( fact( 3 1 ) 6 ), ${-} );
	call testswitch();
	call testif();
	call testwhile();
	call testuntil();
	call testtry();
	call testoper();
	call testinfix();
	call testarith();
	call testlogic();
	call testternary();
	call testcmp();
	call testcat();
	call testchr();
	call testsub();
	call testasc();
	call testhex();
	call testint();
	call testlen();
	call testtup();
	call testsrc();
	call testread();
	call testload();
	call testsave();
	call testflen();
	call testargc();
	call testargv();
	call testtime();
	call testparse();
	call testunparse();
	call testchild();
	call testnext();
	call testline();
	call testelem();
	call testquote();
	call testunquote();
	call testpack();
	call testunpack();
	call teststruct();
	call testfuncref();
	call testsame();
	call testeq();
	call teststridx();
	call testinterrupted();
	call testinc();
	call testdec();
	call testexpr();
	call testfunction();
	call testworker();
	call testthiscall();
	call testmembercall();
	call testtype();
	call testfield();
	call testinstanceof();
	call testtrace();
	call testeval();
	call testlibrary();
	call testoptimizer();
	call teststack();
	call testscope();
	print "Tests passed.";
}
